In [1]:
import numpy as np
import pandas as pd
import random

In [2]:
def makeDF(tuples, header):
    '''Assumes tuples as Python tuples both empty or non empty; header as a tuple with a convention
       as (RollNumber, Name, Exam-[name]-[max-marks], ..., Lab-[name]-[max-marks], ...,
       Asgn-[name]-[max-marks], ..., Oth-[name]-[max-marks],)

       Returns a Pandas DataFrame with all NULL values replaced by Cipher, and adds a fraud column
       for figuring out cheating factor for later functions.'''

    # make rows, column IDs and marks as a list for DataFrame initialization

    row_index = [int(i) for i in range(1, len(tuples) + 1)]
    col_index = list(header)
    values = list(tuples)

    # DataFrame initialisation

    df = pd.DataFrame(tuples, row_index, col_index)

    # Handling of NULLs

    for col in list(df.columns):
        df[col] = df[col].fillna(value=0)

    # Make a copy of last given exams marks

    df['fraud'] = 0
    df['fraud'] = df[df.columns[-2]]

    return df


def scaleMarks(df):
    '''Assumes df as a Pandas DataFrame.

       Returns a Pandas DataFrame with marks scaled up according to the max-marks defined in the
       column headings'''

    # iterate through all columns and scale marks using apply() attribute of DataFrames

    for exam in list(df.columns):
        if len(exam.split('-')) > 2:
            df[exam] = df[exam].apply(lambda x: x * 100 \
                                                / int(exam.split('-')[2]))

    return df


def createAvg(marks):
    '''Assumes marks as a Pandas DataFrame.

       Returns a DataFrame with added columns for overall weighted average, and individual exam,
       lab, assignments and other evaluations average'''

    # initilaize columns as zero

    marks['overall'] = 0
    marks['avgExam'] = 0
    marks['avgLab'] = 0
    marks['avgAsgn'] = 0
    marks['avgOth'] = 0

    # initialize count variables as zero

    exams = 0
    lab = 0
    asgn = 0
    oth = 0

    # iterate through the column list, filter and sum based on '-' as the additional columns do not have a '-'

    for exam in list(marks.columns):
        if exam.lower().startswith('exam'):
            marks['avgExam'] += marks[exam]
            exams += 1
        elif exam.lower().startswith('lab'):

            marks['avgLab'] += marks[exam]
            lab += 1
        elif exam.lower().startswith('asgn'):

            marks['avgAsgn'] += marks[exam]
            asgn += 1
        elif exam.lower().startswith('oth'):

            marks['avgOth'] += marks[exam]
            oth += 1
        else:

            continue

    # weight and scale marks and divide by total number of instances of similar type counted.
    # Weights based on the strictness  and students' interest in overall exam process

    marks['overall'] = 0.5 * marks['avgExam'] / exams + 0.3 \
                       * marks['avgLab'] / lab + 0.1 * marks['avgAsgn'] / asgn + 0.1 \
                       * marks['avgOth'] / oth

    return marks


def createChMarks(marks):
    '''Assumes marks as a Pandas DataFrame.

       Returns a DataFrame with added column ChMarks which would be used further for overall cheating status'''

    # Not included marks for Assignments as they are done by students AT HOME

    marks['ChMarks'] = (marks['avgExam'] + marks['avgLab']
                        + marks['avgOth']) / 3
    return marks


def variance(df):
    '''Assumes df as a Pandas DataFrame.

       Returns the same DataFrame with added column for variance which has variance for all scores for a particular
       student'''

    # Figure out first the columns to be considered for variance calculation. Used '-' as an identifier again

    ls = list(df.columns)
    buffer = []
    for i in range(len(ls)):
        if len(ls[i].split('-')) > 2:
            buffer.append(ls[i])
        else:
            continue

    # initialise column var with iteration based indices so as to use the power of apply() attribute

    df['var'] = [int(i) for i in range(len(df[df.columns[0]]))]

    # make a dummy row index for slicing DataFrame for calculation

    row_index = [int(i) for i in range(1, 1 + len(df[df.columns[0]]))]

    # use the value in var as an indirect reference for the whole row and use the describe() attribute to get std

    df['var'] = df['var'].apply(lambda x: df.loc[row_index,
                                                 buffer].iloc[x].describe()['std'] ** 2)

    return df


def CI(marks, column):
    '''Assumes marks as a Pandas DataFrame and column and a string.

       Returns the 95% confidence interval for the given data as a tuple with entries as (low, high)'''

    column = str(column)

    # CI = mean +- 2*std_error; std_error = std_deviation/sqrt(total observations)

    std_error = marks[column].describe()['std'] / len(marks['avgExam']) \
                ** 0.5
    mean = marks[column].describe()['mean']

    return (mean - 2 * std_error, mean + 2 * std_error)


def width(tup):
    '''Assumes tup as tuple.

       Returns an integer as the difference of 2nd and 1st values of tuple'''

    return tup[1] - tup[0]


def CourseStats(marks):
    '''Assumes marks as a Pandas DataFrame.

       Returns a tuple with values as : (course_difficulty, cheat_risk, list(cheat_flagged),
                                         avg_marks, quartile1, quartile2, quartile3,)

       course_difficulty (str) : HIGH/MODERATE/EASY based on the weighted average and cut-off marks
       cheat_risk (str) : HIGH/MODERATE/LOW based on the spread of Assignment and Other Exam marks
       cheat_flagged (list) : A list of 5 RollNumbers who we believe with some confidence are
                              indulged in academic malpractices in the class as a whole.
       avg_marks (str) : A range of marks where the most of students lie in between.
       quartile1, quartile2, quartile3 (int) : The stastical quartile scores for the overall analysis.'''

    # Calculate course difficulty based on 3rd Quartile scores of students.

    marker = marks['overall'].describe()['75%']
    if marker > 0 and marker < 40:
        course_difficulty = 'HIGH'
    elif marker > 40 and marker < 75:
        course_difficulty = 'MODERATE'
    else:
        course_difficulty = 'EASY'

    # Calculate the probability of cheating based on the width of assignment scores and other marks combined

    cheatProb = 1 - width(CI(marks, 'avgAsgn')) / width(CI(marks,
                                                           'ChMarks'))
    if cheatProb > 0.7 and cheatProb < 1:
        cheat_risk = 'HIGH'
    elif cheatProb > 0.4 and cheatProb < 0.7:
        cheat_risk = 'MODERATE'
    else:
        cheat_risk = 'LOW'

    # Flag out top 5 students whose overall scores and assignment socres tell two different stories

    marks['cheatflagged'] = 0

    marks['cheatflagged'] = marks['avgAsgn'] - marks['ChMarks']
    cheat_flagged = marks.sort_values('cheatflagged', ascending=False)['RollNumber'].iloc[1:6]

    # Calculate the range of marks for most students
    avg_marks = str(round(CI(marks, 'overall')[0], 2)) + '-' + str(round(CI(marks, 'overall')[1], 2))

    # Calculate quartile scores for weighted marks

    quartile1 = round(marks['overall'].describe()['25%'], 2)
    quartile2 = round(marks['overall'].describe()['50%'], 2)
    quartile3 = round(marks['overall'].describe()['75%'], 2)

    return (
        course_difficulty,
        cheat_risk,
        list(cheat_flagged),
        avg_marks,
        [quartile1,
         quartile2,
         quartile3]
    )


def ExamStats(marks):
    '''Assumes marks as a Pandas DataFrame.

       Returns a tuple with values as : (exam_difficulty, cheat_risk, list(cheat_flagged),
                                         avg_marks, quartile1, quartile2, quartile3,)

       exam_difficulty (str) : HIGH/MODERATE/EASY based on the exam performance
       cheat_risk (str) : HIGH/MODERATE/LOW based on the unevenness in marks
       cheat_flagged (list) : A list of 5 RollNumbers who we believe with some confidence should
                              be re-evaluated
       avg_marks (str) : A range of marks where the most of students lie in between.
       quartile1, quartile2, quartile3 (int) : The stastical quartile scores for the overall analysis.'''

    # Figure out the name of last exam and store it in location

    temp = list(marks.columns)
    count = 1
    for i in range(len(temp)):
        if len(temp[i].split('-')) > 2:
            count += 1
    location = temp[count]

    # Calculate the difficulty based on 2nd quartile cut-offs

    marker = marks[location].describe()['50%']
    if marker > 0 and marker < 40:
        exam_difficulty = 'HIGH'
    elif marker > 40 and marker < 75:
        exam_difficulty = 'MODERATE'
    else:
        exam_difficulty = 'EASY'

    # Build the frequency table for digit occurences, add the numbers not present in DataFrame with zero occurence

    freq_df = marks['fraud'].apply(lambda x: int(x % 10)).value_counts()

    for i in range(10):
        try:
            if freq_df.loc[i] >= 0:
                continue
        except:
            freq_df.loc[i] = 0

    # Calculate the variance of the same Dataframe and figure out cheating risk

    cheat_var = freq_df.describe()['std'] ** 2
    if cheat_var < 15:
        cheat_risk = 'LOW'
    if cheat_var > 15 and cheat_var < 80:
        cheat_risk = 'MODERATE'
    else:
        cheat_risk = 'HIGH'

    # Find the number with most occurences, sample 5 random roll numbers with that number for re-evaluation

    max_repeat = freq_df.index[0]
    marks['fraud'] = marks['fraud'].apply(lambda x: int(x % 10))
    suspicious = marks[marks['fraud'] == max_repeat]['fraud']
    if len(suspicious) > 5:
        check_sheets_index = random.sample(list(range(0, len(suspicious))), 5)
        cheat_flagged = []
        for index in check_sheets_index:
            cheat_flagged.append(marks['RollNumber'].iloc[index])
    else:
        cheat_flagged = []

    # Calculate the range of marks for most students

    avg_marks = str(round(CI(marks, location)[0], 2)) + '-' + str(round(CI(marks, location)[1],2))

    # Calculate quartile scores for exam marks

    quartile1 = round(marks[location].describe()['25%'], 2)
    quartile2 = round(marks[location].describe()['50%'], 2)
    quartile3 = round(marks[location].describe()['75%'], 2)

    return (
        exam_difficulty,
        cheat_risk,
        cheat_flagged,
        avg_marks,
        [quartile1,
         quartile2,
         quartile3],
    )


def PersistentLabels(df):
    '''Assumes df as a Pandas DataFrame.

       Returns a tuple with values as (consistent, moderately_varying, highly_varying,)

       consistent (list) : RollNumbers have almost no variation in their marks obtained so far.
       moderately_varying (list) : RollNumbers have some variation in their marks obtained so far.
       highly_varying (list) : RollNumbers have a high variation in their marks obtained so far.'''

    # calculate and filter the roll number list

    consistent = list(df[df['var'] < 30]['RollNumber'])
    moderately_varying = list(df[(df['var'] > 30) & (df['var']
                                                     < 150)]['RollNumber'])
    highly_varying = list(df[df['var'] > 150]['RollNumber'])

    return (consistent, moderately_varying, highly_varying)


def PerformanceLabels(df):
    '''Assumes df as a Pandas DataFrame.

       Returns a tuple with values as (exceptional, promising, average, needy,)

       exceptional (list) : RollNumbers with really good performance overall.
       promising (list) : RollNumbers who can be pushed to top with a little efforts.
       average (list) : RollNumbers who are just a few steps from failing marks and need some attention.
       needy (list) : RollNumbers who are in an immediate need of attention.'''

    # Calculate and filter the roll number list

    exceptional = list(df[df['overall'] > 85]['RollNumber'])
    promising = list(df[(df['overall'] < 85) & (df['overall']
                                                > 50)]['RollNumber'])
    average = list(df[(df['overall'] < 50) & (df['overall']
                                              > 30)]['RollNumber'])
    needy = list(df[df['overall'] < 30]['RollNumber'])

    return (exceptional, promising, average, needy)


def mainFunc(df):
    '''Assumes df as a Pandas DataFrame.

       Returns the top needy students based on algo as a list.'''

    # initialise an empty column to save scores

    df['temp'] = 1 / df['overall'] + df['var']
    return list((df.sort_values('temp', ascending=False)['RollNumber'])[0:5])

def getRank(df, exam):
    '''Assumes df as a Pandas dataframe, amd exam as a string.
    
       Returns a dataframe with ranks according to roll number.'''
    
    #Sort values according to the particular exam on Roll number column. 
    examRank = df.sort_values(exam, ascending = False)['RollNumber']
    
    #initialise a dummy column later to be used as the rank.
    temp = [int(i) + 1 for i in range(len(df['RollNumber']))]
    
    #join the two columns in a dataframe and sort according to Roll number. 
    df1 = pd.DataFrame({exam : temp, 'RollNumber' : examRank})
    df1.sort_values('RollNumber', inplace=True)
    
    return df1

def getRankMatrix(df):
    '''Assumes df as a Pandas DataFrame.
    
        Returns a tuple of tuples with individual type of exam ranks.'''
    
    #find individual ranks for classes of exams
    df1 = getRank(df, 'avgExam')
    df2 = getRank(df, 'avgLab')
    df3 = getRank(df, 'avgAsgn')
    df4 = getRank(df, 'avgOth')
    df5 = getRank(df, 'overall')
    
    #make the combines dataframe
    temp = df['RollNumber']
    dfRank = pd.DataFrame({'RollNumber' : temp, 'ClassRank' : df5['overall'], 'ExamRank' : df1['avgExam'], 'LabRank' : df2['avgLab'], 'AsgnRank' : df3['avgAsgn'], 'OthRank' : df4['avgOth']})

    return tuple([tuple(x) for x in dfRank.to_records(index=False)])

def ExamDetails(df):
    '''Assumes df as a Pandas DataFrame.
    
    Returns a listof lists with individual exam analysis'''
    
    details = []
    
    #for all the exams entered, find CI, max marks and exam name.
    for exam in df.columns:
        if len(exam.split('-')) > 2:
            avgCI = str(round(CI(df, exam)[0], 2)) + '-' + str(round(CI(df, exam)[1], 2))
            examName = exam.split('-')[1]
            maxMarks = round(max(df[exam]), 2) 
            details.append([examName, avgCI, maxMarks])
    
    return details

def findBestExam(i):
    '''Assumes i as an int.
    
       Returns a string with the value as the exam with maximum marks in any Dataframe record'''
    
    #find exams
    evals = []
    for exam in df.columns:
        if len(exam.split('-')) > 2:
            evals.append(exam)
    
    #Boolean Series with True at the desired location
    check = df[evals].iloc[i] == df.iloc[i]['best']
    
    #list of all conducted exam columns
    temp = df[evals].columns
    
    #find the name of exam, as per the faculty
    for seek in range(len(temp)):
        if check[seek] == True:
            exam = temp[seek].split('-')[1]
    
    return exam

def findWorstExam(i):
    '''Assumes i as an int.
    
       Returns a string with the value as the exam with minimum marks in any Dataframe record'''
    
    #find exams
    evals = []
    for exam in df.columns:
        if len(exam.split('-')) > 2:
            evals.append(exam)
    
    #Boolean Series with True at the desired location
    check = df[evals].iloc[i] == df.iloc[i]['worst']
    
    #list of all conducted exam columns
    temp = df[evals].columns
    
    #find the name of exam, as per the faculty
    for seek in range(len(temp)):
        if check[seek] == True:
            exam = temp[seek].split('-')[1]
    
    return exam

def studentMarks(df):
    '''Assumes df as a Pandas DataFrame.
    
       Returns a tuple of tuples, with best exam and worst exam performances.'''
    
    #find all the exam names
    evals = []
    for exam in df.columns:
        if len(exam.split('-')) > 2:
            evals.append(exam)
    #initialise new attributes with their iterative location index to use the power of lambda functions.
    df['best'] = [i for i in range(len(df['RollNumber']))]
    df['worst'] = [i for i in range(len(df['RollNumber']))]
    df['bestExam'] = [i for i in range(len(df['RollNumber']))]
    df['worstExam'] = [i for i in range(len(df['RollNumber']))]

    #Find the max or min oerformance of the record.
    df['best'] = df['best'].apply(lambda x : max(df[evals].iloc[x]))
    df['worst'] = df['worst'].apply(lambda x : min(df[evals].iloc[x]))
    
    #Find the best or worst exam name.
    df['bestExam'] = df['bestExam'].apply(findBestExam)
    df['worstExam'] = df['worstExam'].apply(findWorstExam)
    
    #rounding off
    df['best'] = df['best'].apply(lambda x : round(x, 2))
    df['worst'] = df['worst'].apply(lambda x : round(x, 2))
    
    #Make new dataframe
    df1 = df[['RollNumber', 'best', 'worst', 'bestExam', 'worstExam']]

    #Coercion
    ret  = tuple([tuple(x) for x in df1.to_records(index=False)])
    
    return ret

In [3]:
tuples = np.random.randn(267, 14)
headers =  ['RollNumber', 'Name', 'exam-mid-35', 'exam-end-50', 'lab-basic01-20','lab-basic02-20','lab-basic03-20','asgn-basic01-15','asgn-basic02-15','asgn-basic03-15','asgn-basic04-15','oth-quiz01-30', 'oth-quiz02-30', 'oth-quiz03-30']
roll = [i for i in range(1, 268)]
max_marks = [1, 1, 35, 50, 20, 20, 20, 15, 15, 15, 15, 30, 30, 30]
df = pd.DataFrame(tuples)
for i in range(14):
    df[i] = df[i].apply(lambda x : int((x*100)%max_marks[i]))
df.columns = headers
df['RollNumber'] = roll
df['fraud'] = 0
df['fraud'] = df['oth-quiz03-30']

In [4]:
df.head()

,RollNumber,Name,exam-mid-35,exam-end-50,lab-basic01-20,lab-basic02-20,lab-basic03-20,asgn-basic01-15,asgn-basic02-15,asgn-basic03-15,asgn-basic04-15,oth-quiz01-30,oth-quiz02-30,oth-quiz03-30,fraud
0,1,0,14,40,7,5,12,8,7,14,13,13,21,15,15
1,2,0,23,12,12,9,4,6,12,3,12,26,4,4,4
2,3,0,8,36,1,11,16,14,8,13,3,28,0,3,3
3,4,0,23,28,7,5,15,3,12,5,7,15,27,12,12
4,5,0,7,46,3,12,15,6,12,13,14,10,24,11,11

In [20]:
df = scaleMarks(df)
df.to_csv('ty.csv')

In [6]:
df = createAvg(df)
df = createChMarks(df)
df = variance(df)

/home/carbon/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:137: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike

In [7]:
df.head()

,RollNumber,Name,exam-mid-35,exam-end-50,lab-basic01-20,lab-basic02-20,lab-basic03-20,asgn-basic01-15,asgn-basic02-15,asgn-basic03-15,...,oth-quiz02-30,oth-quiz03-30,fraud,overall,avgExam,avgLab,avgAsgn,avgOth,ChMarks,var
0,1,0,40.000000,80.0,35.0,25.0,60.0,53.333333,46.666667,93.333333,...,70.000000,50.000000,15,54.444444,120.000000,120.0,280.000000,163.333333,134.444444,777.850117
1,2,0,65.714286,24.0,60.0,45.0,20.0,40.000000,80.000000,20.000000,...,13.333333,13.333333,4,44.206349,89.714286,125.0,220.000000,113.333333,109.349206,1297.805332
2,3,0,22.857143,72.0,5.0,55.0,80.0,93.333333,53.333333,86.666667,...,0.000000,10.000000,3,47.492063,94.857143,140.0,253.333333,103.333333,112.730159,502.140641
3,4,0,65.714286,56.0,35.0,25.0,75.0,20.000000,80.000000,33.333333,...,90.000000,40.000000,12,54.428571,121.714286,135.0,180.000000,180.000000,145.571429,831.494949
4,5,0,20.000000,92.0,15.0,60.0,75.0,40.000000,80.000000,86.666667,...,80.000000,36.666667,11,55.500000,112.000000,150.0,300.000000,150.000000,137.333333,881.489366

In [8]:
CourseStats(df)

('MODERATE',
 'LOW',
 [68, 75, 24, 139, 117],
 '46.37-49.21',
 [40.56, 47.84, 54.92])

In [9]:
df.head()

,RollNumber,Name,exam-mid-35,exam-end-50,lab-basic01-20,lab-basic02-20,lab-basic03-20,asgn-basic01-15,asgn-basic02-15,asgn-basic03-15,...,oth-quiz03-30,fraud,overall,avgExam,avgLab,avgAsgn,avgOth,ChMarks,var,cheatflagged
0,1,0,40.000000,80.0,35.0,25.0,60.0,53.333333,46.666667,93.333333,...,50.000000,15,54.444444,120.000000,120.0,280.000000,163.333333,134.444444,777.850117,145.555556
1,2,0,65.714286,24.0,60.0,45.0,20.0,40.000000,80.000000,20.000000,...,13.333333,4,44.206349,89.714286,125.0,220.000000,113.333333,109.349206,1297.805332,110.650794
2,3,0,22.857143,72.0,5.0,55.0,80.0,93.333333,53.333333,86.666667,...,10.000000,3,47.492063,94.857143,140.0,253.333333,103.333333,112.730159,502.140641,140.603175
3,4,0,65.714286,56.0,35.0,25.0,75.0,20.000000,80.000000,33.333333,...,40.000000,12,54.428571,121.714286,135.0,180.000000,180.000000,145.571429,831.494949,34.428571
4,5,0,20.000000,92.0,15.0,60.0,75.0,40.000000,80.000000,86.666667,...,36.666667,11,55.500000,112.000000,150.0,300.000000,150.000000,137.333333,881.489366,162.666667

In [10]:
ExamStats(df)

('MODERATE',
 'MODERATE',
 [23, 8, 2, 19, 22],
 '41.77-48.69',
 [20.0, 43.33, 70.0])

In [11]:
PersistentLabels(df)

([],
 [],
 [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  61,
  62,
  63,
  64,
  65,
  66,
  67,
  68,
  69,
  70,
  71,
  72,
  73,
  74,
  75,
  76,
  77,
  78,
  79,
  80,
  81,
  82,
  83,
  84,
  85,
  86,
  87,
  88,
  89,
  90,
  91,
  92,
  93,
  94,
  95,
  96,
  97,
  98,
  99,
  100,
  101,
  102,
  103,
  104,
  105,
  106,
  107,
  108,
  109,
  110,
  111,
  112,
  113,
  114,
  115,
  116,
  117,
  118,
  119,
  120,
  121,
  122,
  123,
  124,
  125,
  126,
  127,
  128,
  129,
  130,
  131,
  132,
  133,
  134,
  135,
  136,
  137,
  138,
  139,
  140,
  141,
  142,
  143,
  144,
  145,
  146,
  147,
  148,
  149,
  150,
  151,
  152,
  153,
  154,
  155,
  156,
  157,
  158,
  159,
  160,
  161,
  162,
  163,
  164,
  165,
  166,
  167,
  168,
  169,
  170,
  171,
  172,
  173,
  174,
  175,
  176,
  177,
  178,
  179,
  180,
  181,
  182,
  183,
  184,
  185,
  186,
  187,
  188,
  189,
  190,
  191,
  192,
  193,
  194,
  195,
  196,
  197,
  198,
  199,
  200,
  201,
  202,
  203,
  204,
  205,
  206,
  207,
  208,
  209,
  210,
  211,
  212,
  213,
  214,
  215,
  216,
  217,
  218,
  219,
  220,
  221,
  222,
  223,
  224,
  225,
  226,
  227,
  228,
  229,
  230,
  231,
  232,
  233,
  234,
  235,
  236,
  237,
  238,
  239,
  240,
  241,
  242,
  243,
  244,
  245,
  246,
  247,
  248,
  249,
  250,
  251,
  252,
  253,
  254,
  255,
  256,
  257,
  258,
  259,
  260,
  261,
  262,
  263,
  264,
  265,
  266])

In [12]:
PerformanceLabels(df)

([],
 [1,
  4,
  5,
  6,
  8,
  13,
  15,
  20,
  21,
  22,
  24,
  25,
  26,
  27,
  29,
  33,
  36,
  37,
  38,
  39,
  40,
  42,
  43,
  46,
  47,
  49,
  51,
  53,
  54,
  57,
  59,
  60,
  62,
  64,
  65,
  67,
  76,
  79,
  81,
  84,
  86,
  88,
  89,
  92,
  93,
  95,
  101,
  105,
  106,
  107,
  108,
  109,
  113,
  115,
  119,
  120,
  121,
  122,
  124,
  127,
  132,
  134,
  140,
  142,
  149,
  150,
  151,
  152,
  153,
  160,
  161,
  163,
  169,
  171,
  172,
  175,
  177,
  180,
  186,
  187,
  188,
  194,
  196,
  199,
  200,
  203,
  204,
  212,
  214,
  217,
  224,
  226,
  229,
  231,
  232,
  234,
  235,
  237,
  238,
  243,
  244,
  247,
  248,
  251,
  253,
  255,
  256,
  257,
  259,
  261,
  263],
 [2,
  3,
  7,
  9,
  10,
  11,
  12,
  14,
  16,
  17,
  18,
  19,
  23,
  28,
  30,
  31,
  32,
  34,
  41,
  44,
  45,
  48,
  50,
  52,
  55,
  56,
  58,
  61,
  63,
  69,
  70,
  71,
  72,
  73,
  74,
  75,
  77,
  78,
  80,
  82,
  83,
  85,
  87,
  90,
  91,
  94,
  96,
  100,
  102,
  103,
  110,
  111,
  112,
  114,
  116,
  117,
  118,
  123,
  125,
  126,
  128,
  129,
  130,
  133,
  135,
  136,
  137,
  138,
  139,
  141,
  144,
  145,
  146,
  147,
  148,
  154,
  155,
  156,
  157,
  158,
  162,
  164,
  165,
  166,
  167,
  168,
  170,
  173,
  174,
  176,
  181,
  182,
  183,
  184,
  185,
  190,
  191,
  192,
  193,
  195,
  198,
  201,
  202,
  206,
  207,
  209,
  210,
  211,
  215,
  216,
  219,
  220,
  221,
  222,
  223,
  225,
  228,
  230,
  233,
  236,
  239,
  240,
  241,
  242,
  245,
  246,
  249,
  250,
  252,
  258,
  260,
  262,
  264,
  265,
  266,
  267],
 [35,
  66,
  68,
  97,
  98,
  99,
  104,
  131,
  143,
  159,
  178,
  179,
  189,
  197,
  205,
  208,
  213,
  218,
  227,
  254])

In [13]:
mainFunc(df)

[25, 15, 211, 12, 72]

In [14]:
df.head()

,RollNumber,Name,exam-mid-35,exam-end-50,lab-basic01-20,lab-basic02-20,lab-basic03-20,asgn-basic01-15,asgn-basic02-15,asgn-basic03-15,...,fraud,overall,avgExam,avgLab,avgAsgn,avgOth,ChMarks,var,cheatflagged,temp
0,1,0,40.000000,80.0,35.0,25.0,60.0,53.333333,46.666667,93.333333,...,5,54.444444,120.000000,120.0,280.000000,163.333333,134.444444,777.850117,145.555556,777.868484
1,2,0,65.714286,24.0,60.0,45.0,20.0,40.000000,80.000000,20.000000,...,4,44.206349,89.714286,125.0,220.000000,113.333333,109.349206,1297.805332,110.650794,1297.827953
2,3,0,22.857143,72.0,5.0,55.0,80.0,93.333333,53.333333,86.666667,...,3,47.492063,94.857143,140.0,253.333333,103.333333,112.730159,502.140641,140.603175,502.161697
3,4,0,65.714286,56.0,35.0,25.0,75.0,20.000000,80.000000,33.333333,...,2,54.428571,121.714286,135.0,180.000000,180.000000,145.571429,831.494949,34.428571,831.513322
4,5,0,20.000000,92.0,15.0,60.0,75.0,40.000000,80.000000,86.666667,...,1,55.500000,112.000000,150.0,300.000000,150.000000,137.333333,881.489366,162.666667,881.507384

In [15]:
getRankMatrix(df)

((1, 72, 80, 177, 25, 94),
 (2, 165, 155, 163, 85, 194),
 (3, 137, 142, 116, 48, 209),
 (4, 73, 74, 133, 146, 59),
 (5, 64, 97, 88, 9, 119),
 (6, 47, 18, 236, 28, 256),
 (7, 201, 150, 151, 242, 258),
 (8, 76, 193, 5, 127, 31),
 (9, 147, 145, 97, 135, 232),
 (10, 138, 68, 228, 151, 235),
 (11, 224, 171, 250, 59, 214),
 (12, 220, 224, 77, 212, 184),
 (13, 99, 88, 148, 142, 164),
 (14, 130, 131, 113, 90, 161),
 (15, 46, 89, 75, 130, 2),
 (16, 140, 119, 192, 82, 124),
 (17, 143, 214, 10, 83, 201),
 (18, 150, 107, 152, 168, 245),
 (19, 151, 156, 99, 256, 23),
 (20, 28, 17, 103, 208, 211),
 (21, 60, 111, 21, 157, 106),
 (22, 18, 32, 28, 125, 152),
 (23, 203, 174, 220, 219, 42),
 (24, 93, 98, 227, 1, 46),
 (25, 43, 58, 44, 207, 139),
 (26, 108, 82, 206, 141, 54),
 (27, 59, 13, 253, 184, 155),
 (28, 124, 92, 233, 4, 149),
 (29, 79, 64, 157, 87, 217),
 (30, 135, 157, 40, 226, 200),
 (31, 117, 50, 261, 109, 78),
 (32, 200, 212, 55, 236, 136),
 (33, 44, 38, 53, 252, 230),
 (34, 194, 168, 159, 154, 248),
 (35, 248, 246, 198, 172, 187),
 (36, 24, 1, 256, 129, 48),
 (37, 91, 48, 223, 191, 189),
 (38, 48, 11, 259, 152, 77),
 (39, 66, 63, 153, 62, 133),
 (40, 88, 115, 48, 190, 141),
 (41, 219, 124, 260, 94, 251),
 (42, 62, 59, 101, 96, 216),
 (43, 1, 4, 16, 204, 14),
 (44, 222, 172, 249, 75, 168),
 (45, 244, 249, 215, 76, 35),
 (46, 10, 37, 30, 150, 3),
 (47, 111, 222, 4, 54, 74),
 (48, 191, 240, 46, 88, 53),
 (49, 83, 180, 24, 115, 12),
 (50, 183, 223, 17, 209, 244),
 (51, 110, 126, 41, 261, 131),
 (52, 232, 233, 82, 100, 253),
 (53, 74, 42, 208, 149, 159),
 (54, 17, 7, 209, 117, 6),
 (55, 126, 176, 51, 38, 169),
 (56, 125, 114, 105, 233, 97),
 (57, 97, 197, 52, 2, 18),
 (58, 195, 243, 34, 237, 11),
 (59, 96, 112, 181, 33, 61),
 (60, 63, 70, 180, 57, 43),
 (61, 226, 207, 222, 70, 135),
 (62, 52, 57, 166, 3, 193),
 (63, 207, 231, 109, 10, 105),
 (64, 67, 72, 139, 58, 140),
 (65, 84, 190, 9, 18, 218),
 (66, 260, 264, 207, 36, 57),
 (67, 71, 128, 35, 17, 204),
 (68, 266, 263, 266, 16, 154),
 (69, 206, 182, 199, 205, 93),
 (70, 233, 229, 91, 248, 175),
 (71, 217, 236, 93, 40, 180),
 (72, 184, 238, 63, 45, 28),
 (73, 144, 135, 94, 216, 179),
 (74, 198, 87, 264, 162, 162),
 (75, 235, 211, 211, 8, 262),
 (76, 42, 33, 146, 161, 151),
 (77, 153, 91, 221, 224, 142),
 (78, 231, 235, 84, 230, 147),
 (79, 51, 81, 47, 223, 36),
 (80, 211, 213, 129, 160, 90),
 (81, 41, 15, 202, 214, 234),
 (82, 113, 141, 130, 49, 44),
 (83, 120, 109, 111, 165, 207),
 (84, 86, 43, 237, 182, 66),
 (85, 193, 127, 224, 231, 177),
 (86, 21, 23, 68, 81, 228),
 (87, 189, 132, 204, 264, 87),
 (88, 27, 26, 70, 201, 137),
 (89, 29, 22, 143, 188, 95),
 (90, 112, 110, 128, 111, 178),
 (91, 237, 219, 120, 247, 210),
 (92, 50, 69, 144, 69, 9),
 (93, 38, 34, 62, 183, 255),
 (94, 171, 159, 167, 213, 108),
 (95, 53, 120, 11, 249, 32),
 (96, 172, 96, 244, 52, 249),
 (97, 249, 200, 251, 239, 247),
 (98, 256, 239, 257, 32, 174),
 (99, 257, 267, 125, 128, 89),
 (100, 164, 161, 95, 113, 243),
 (101, 15, 6, 145, 244, 27),
 (102, 180, 154, 169, 257, 123),
 (103, 241, 216, 230, 92, 92),
 (104, 253, 255, 73, 266, 237),
 (105, 40, 45, 182, 53, 49),
 (106, 35, 21, 184, 164, 166),
 (107, 2, 10, 15, 50, 41),
 (108, 81, 77, 185, 126, 68),
 (109, 25, 12, 187, 153, 88),
 (110, 212, 228, 121, 63, 118),
 (111, 213, 247, 54, 98, 56),
 (112, 175, 173, 170, 144, 125),
 (113, 70, 71, 171, 34, 132),
 (114, 139, 149, 186, 95, 21),
 (115, 105, 56, 137, 260, 257),
 (116, 186, 137, 229, 196, 98),
 (117, 234, 217, 241, 7, 67),
 (118, 131, 191, 23, 197, 127),
 (119, 77, 94, 107, 119, 70),
 (120, 104, 144, 134, 12, 72),
 (121, 16, 29, 37, 145, 170),
 (122, 3, 5, 14, 246, 206),
 (123, 121, 153, 74, 229, 26),
 (124, 22, 24, 79, 218, 62),
 (125, 132, 166, 31, 179, 233),
 (126, 240, 169, 254, 255, 117),
 (127, 6, 62, 1, 120, 1),
 (128, 122, 181, 49, 86, 86),
 (129, 162, 196, 36, 104, 240),
 (130, 177, 206, 39, 199, 220),
 (131, 259, 266, 118, 46, 195),
 (132, 56, 95, 25, 198, 99),
 (133, 179, 177, 115, 180, 192),
 (134, 69, 54, 119, 124, 246),
 (135, 169, 130, 196, 51, 264),
 (136, 173, 93, 258, 42, 203),
 (137, 114, 27, 255, 265, 181),
 (138, 236, 252, 132, 24, 103),
 (139, 208, 202, 218, 5, 116),
 (140, 65, 139, 27, 195, 7),
 (141, 196, 199, 131, 80, 188),
 (142, 14, 52, 8, 23, 185),
 (143, 254, 208, 263, 174, 199),
 (144, 221, 218, 195, 217, 19),
 (145, 199, 221, 50, 27, 260),
 (146, 204, 152, 194, 206, 241),
 (147, 242, 253, 102, 64, 160),
 (148, 197, 179, 205, 143, 82),
 (149, 7, 8, 43, 186, 115),
 (150, 75, 25, 248, 194, 148),
 (151, 94, 65, 141, 84, 267),
 (152, 49, 44, 219, 19, 71),
 (153, 57, 102, 33, 22, 197),
 (154, 141, 67, 234, 225, 167),
 (155, 176, 242, 26, 148, 37),
 (156, 170, 245, 12, 147, 58),
 (157, 185, 158, 190, 116, 212),
 (158, 157, 151, 165, 139, 96),
 (159, 261, 254, 240, 192, 83),
 (160, 82, 79, 161, 15, 222),
 (161, 19, 39, 72, 43, 16),
 (162, 119, 147, 69, 134, 143),
 (163, 58, 66, 58, 170, 190),
 (164, 129, 122, 140, 103, 128),
 (165, 228, 234, 158, 60, 129),
 (166, 192, 184, 112, 211, 215),
 (167, 142, 105, 212, 133, 113),
 (168, 230, 194, 183, 240, 236),
 (169, 31, 20, 67, 267, 182),
 (170, 134, 75, 213, 99, 252),
 (171, 34, 28, 117, 221, 121),
 (172, 95, 117, 114, 187, 15),
 (173, 214, 163, 246, 202, 17),
 (174, 178, 205, 155, 78, 5),
 (175, 92, 84, 225, 123, 4),
 (176, 160, 134, 162, 65, 250),
 (177, 107, 101, 179, 132, 65),
 (178, 267, 261, 267, 102, 183),
 (179, 251, 227, 265, 44, 144),
 (180, 12, 41, 22, 31, 110),
 (181, 190, 183, 156, 68, 198),
 (182, 225, 244, 100, 112, 81),
 (183, 168, 195, 81, 175, 63),
 (184, 136, 99, 138, 253, 191),
 (185, 123, 170, 96, 20, 85),
 (186, 4, 16, 6, 227, 223),
 (187, 85, 61, 127, 238, 219),
 (188, 78, 35, 210, 245, 213),
 (189, 250, 230, 216, 251, 231),
 (190, 187, 129, 238, 178, 64),
 (191, 163, 187, 136, 159, 20),
 (192, 154, 186, 60, 254, 29),
 (193, 167, 209, 42, 167, 111),
 (194, 61, 175, 2, 79, 186),
 (195, 239, 237, 142, 158, 120),
 (196, 106, 164, 56, 56, 75),
 (197, 262, 259, 176, 210, 196),
 (198, 215, 215, 85, 222, 173),
 (199, 23, 55, 38, 89, 25),
 (200, 39, 100, 13, 91, 153),
 (201, 161, 165, 188, 67, 51),
 (202, 155, 108, 191, 136, 205),
 (203, 20, 53, 7, 173, 165),
 (204, 9, 3, 92, 228, 79),
 (205, 264, 258, 193, 241, 163),
 (206, 174, 203, 57, 220, 84),
 (207, 166, 140, 89, 215, 263),
 (208, 265, 265, 235, 200, 150),
 (209, 229, 256, 90, 21, 38),
 (210, 188, 201, 122, 166, 40),
 (211, 127, 189, 59, 131, 8),
 (212, 98, 123, 123, 181, 10),
 (213, 252, 260, 124, 61, 226),
 (214, 102, 138, 80, 13, 202),
 (215, 159, 178, 175, 106, 13),
 (216, 205, 167, 252, 39, 34),
 (217, 32, 19, 168, 243, 73),
 (218, 255, 248, 226, 250, 104),
 (219, 133, 60, 243, 235, 55),
 (220, 181, 232, 71, 14, 50),
 (221, 128, 148, 61, 171, 157),
 (222, 209, 143, 232, 259, 80),
 (223, 115, 133, 174, 26, 47),
 (224, 45, 40, 135, 55, 224),
 (225, 116, 116, 78, 118, 221),
 (226, 90, 83, 173, 72, 130),
 (227, 258, 241, 239, 263, 30),
 (228, 156, 86, 231, 74, 225),
 (229, 37, 85, 29, 110, 39),
 (230, 149, 106, 245, 73, 24),
 (231, 5, 30, 20, 71, 45),
 (232, 89, 49, 197, 185, 239),
 (233, 152, 185, 32, 258, 138),
 (234, 36, 51, 45, 30, 254),
 (235, 101, 103, 126, 137, 146),
 (236, 210, 198, 164, 203, 112),
 (237, 33, 125, 3, 155, 33),
 (238, 30, 31, 86, 107, 208),
 (239, 118, 78, 214, 122, 172),
 (240, 243, 160, 262, 234, 134),
 (241, 227, 226, 149, 193, 107),
 (242, 238, 225, 87, 163, 266),
 (243, 13, 14, 98, 41, 176),
 (244, 8, 36, 18, 29, 122),
 (245, 223, 220, 83, 114, 265),
 (246, 245, 204, 242, 77, 227),
 (247, 26, 2, 200, 262, 60),
 (248, 80, 118, 104, 66, 22),
 (249, 202, 188, 160, 156, 171),
 (250, 218, 257, 19, 140, 145),
 (251, 100, 104, 108, 35, 238),
 (252, 145, 121, 172, 176, 126),
 (253, 55, 47, 147, 11, 261),
 (254, 263, 262, 203, 6, 242),
 (255, 68, 90, 76, 97, 109),
 (256, 109, 136, 110, 93, 52),
 (257, 11, 9, 106, 121, 91),
 (258, 148, 73, 247, 101, 156),
 (259, 54, 46, 154, 138, 114),
 (260, 158, 146, 217, 37, 69),
 (261, 87, 113, 66, 177, 102),
 (262, 246, 251, 65, 232, 259),
 (263, 103, 76, 201, 189, 76),
 (264, 182, 162, 150, 105, 229),
 (265, 216, 210, 189, 108, 101),
 (266, 146, 192, 64, 47, 100),
 (267, 247, 250, 178, 169, 158))

In [16]:
studentMarks(df)

((1, 93.33, 25.0, 'basic03', 'basic02'),
 (2, 86.67, 13.33, 'quiz01', 'quiz03'),
 (3, 93.33, 0.0, 'quiz01', 'quiz02'),
 (4, 90.0, 20.0, 'quiz02', 'basic01'),
 (5, 93.33, 15.0, 'basic04', 'basic01'),
 (6, 94.29, 6.67, 'mid', 'quiz02'),
 (7, 85.0, 6.67, 'basic03', 'quiz01'),
 (8, 96.67, 8.57, 'quiz02', 'mid'),
 (9, 80.0, 13.33, 'end', 'quiz02'),
 (10, 93.33, 3.33, 'basic03', 'quiz02'),
 (11, 93.33, 5.0, 'basic02', 'basic02'),
 (12, 90.0, 6.67, 'basic02', 'basic04'),
 (13, 96.67, 0.0, 'quiz01', 'basic03'),
 (14, 93.33, 5.0, 'basic04', 'basic01'),
 (15, 96.67, 0.0, 'quiz01', 'basic02'),
 (16, 96.67, 5.0, 'quiz01', 'basic03'),
 (17, 86.67, 6.67, 'basic03', 'basic02'),
 (18, 73.33, 3.33, 'basic02', 'quiz02'),
 (19, 85.0, 0.0, 'basic02', 'basic02'),
 (20, 92.0, 6.67, 'end', 'basic03'),
 (21, 94.29, 12.0, 'mid', 'end'),
 (22, 90.0, 16.67, 'basic03', 'quiz01'),
 (23, 96.67, 0.0, 'quiz01', 'basic04'),
 (24, 93.33, 10.0, 'basic04', 'basic01'),
 (25, 95.0, 5.0, 'basic03', 'basic01'),
 (26, 95.0, 0.0, 'basic02', 'basic01'),
 (27, 93.33, 0.0, 'basic03', 'basic04'),
 (28, 93.33, 5.0, 'basic02', 'basic03'),
 (29, 86.67, 0.0, 'basic02', 'basic03'),
 (30, 80.0, 6.67, 'basic03', 'quiz02'),
 (31, 94.29, 0.0, 'mid', 'basic03'),
 (32, 95.0, 0.0, 'basic01', 'basic02'),
 (33, 91.43, 0.0, 'mid', 'quiz02'),
 (34, 93.33, 6.67, 'basic02', 'basic03'),
 (35, 90.0, 0.0, 'basic02', 'basic03'),
 (36, 98.0, 0.0, 'end', 'basic01'),
 (37, 94.0, 0.0, 'end', 'quiz01'),
 (38, 96.0, 0.0, 'end', 'basic01'),
 (39, 86.67, 15.0, 'basic01', 'basic02'),
 (40, 92.0, 10.0, 'end', 'quiz03'),
 (41, 73.33, 3.33, 'basic02', 'quiz02'),
 (42, 86.67, 0.0, 'basic01', 'basic03'),
 (43, 93.33, 6.67, 'basic03', 'basic04'),
 (44, 90.0, 5.0, 'quiz02', 'basic02'),
 (45, 90.0, 12.0, 'quiz03', 'end'),
 (46, 98.0, 6.67, 'end', 'basic04'),
 (47, 95.0, 14.0, 'basic02', 'end'),
 (48, 93.33, 2.86, 'basic02', 'mid'),
 (49, 96.67, 13.33, 'quiz03', 'basic04'),
 (50, 90.0, 6.67, 'basic01', 'quiz02'),
 (51, 91.43, 0.0, 'mid', 'basic02'),
 (52, 93.33, 13.33, 'basic03', 'quiz01'),
 (53, 88.0, 0.0, 'end', 'basic04'),
 (54, 94.0, 20.0, 'end', 'basic04'),
 (55, 93.33, 20.0, 'basic02', 'basic03'),
 (56, 85.71, 6.67, 'mid', 'basic04'),
 (57, 95.0, 6.0, 'basic02', 'end'),
 (58, 96.67, 11.43, 'quiz03', 'mid'),
 (59, 90.0, 5.0, 'quiz03', 'basic02'),
 (60, 96.67, 10.0, 'quiz01', 'basic02'),
 (61, 93.33, 10.0, 'basic04', 'basic03'),
 (62, 93.33, 10.0, 'basic02', 'basic03'),
 (63, 93.33, 13.33, 'basic02', 'quiz03'),
 (64, 86.67, 3.33, 'basic03', 'quiz02'),
 (65, 95.0, 0.0, 'basic02', 'quiz03'),
 (66, 93.33, 2.86, 'basic01', 'mid'),
 (67, 86.67, 10.0, 'basic04', 'quiz02'),
 (68, 93.33, 0.0, 'basic03', 'basic03'),
 (69, 93.33, 0.0, 'basic02', 'basic03'),
 (70, 85.0, 6.67, 'basic03', 'basic03'),
 (71, 93.33, 0.0, 'basic01', 'quiz02'),
 (72, 93.33, 0.0, 'basic03', 'end'),
 (73, 95.0, 0.0, 'basic02', 'quiz03'),
 (74, 86.67, 0.0, 'basic04', 'basic01'),
 (75, 80.0, 6.0, 'basic04', 'end'),
 (76, 94.29, 3.33, 'mid', 'quiz03'),
 (77, 86.67, 10.0, 'basic03', 'basic03'),
 (78, 95.0, 0.0, 'basic02', 'basic02'),
 (79, 90.0, 26.67, 'quiz03', 'basic03'),
 (80, 80.0, 22.0, 'quiz01', 'end'),
 (81, 85.71, 0.0, 'mid', 'basic01'),
 (82, 90.0, 15.0, 'quiz03', 'basic01'),
 (83, 86.67, 6.67, 'basic04', 'basic03'),
 (84, 88.0, 13.33, 'end', 'basic04'),
 (85, 73.33, 0.0, 'basic02', 'basic01'),
 (86, 95.0, 6.67, 'basic01', 'basic04'),
 (87, 98.0, 0.0, 'end', 'basic03'),
 (88, 88.0, 6.67, 'end', 'basic02'),
 (89, 94.0, 0.0, 'end', 'basic01'),
 (90, 95.0, 0.0, 'basic02', 'basic02'),
 (91, 60.0, 6.67, 'basic04', 'basic02'),
 (92, 91.43, 15.0, 'mid', 'basic03'),
 (93, 80.0, 0.0, 'basic01', 'quiz02'),
 (94, 93.33, 5.0, 'quiz03', 'basic02'),
 (95, 96.67, 0.0, 'quiz01', 'basic03'),
 (96, 94.29, 0.0, 'mid', 'basic03'),
 (97, 70.0, 0.0, 'end', 'basic02'),
 (98, 86.67, 5.0, 'basic04', 'basic02'),
 (99, 90.0, 0.0, 'basic03', 'basic01'),
 (100, 82.86, 4.0, 'mid', 'end'),
 (101, 97.14, 0.0, 'mid', 'basic03'),
 (102, 68.0, 6.67, 'end', 'basic04'),
 (103, 86.67, 0.0, 'basic02', 'basic01'),
 (104, 95.0, 0.0, 'basic03', 'basic02'),
 (105, 96.67, 6.67, 'quiz03', 'quiz01'),
 (106, 86.67, 0.0, 'basic02', 'basic04'),
 (107, 93.33, 33.33, 'basic01', 'basic03'),
 (108, 90.0, 0.0, 'basic02', 'basic01'),
 (109, 94.29, 26.67, 'mid', 'basic01'),
 (110, 86.67, 4.0, 'basic04', 'end'),
 (111, 93.33, 5.0, 'basic04', 'basic01'),
 (112, 86.67, 6.67, 'basic03', 'basic01'),
 (113, 93.33, 0.0, 'quiz01', 'basic03'),
 (114, 96.67, 0.0, 'quiz02', 'basic01'),
 (115, 94.29, 0.0, 'mid', 'basic03'),
 (116, 86.67, 13.33, 'quiz01', 'basic02'),
 (117, 93.33, 8.57, 'basic02', 'mid'),
 (118, 93.33, 10.0, 'quiz01', 'quiz03'),
 (119, 97.14, 5.0, 'mid', 'basic01'),
 (120, 93.33, 6.0, 'quiz02', 'end'),
 (121, 80.0, 23.33, 'mid', 'quiz01'),
 (122, 98.0, 0.0, 'end', 'quiz03'),
 (123, 95.0, 13.33, 'basic03', 'basic02'),
 (124, 90.0, 6.67, 'quiz03', 'basic03'),
 (125, 86.67, 10.0, 'basic01', 'quiz01'),
 (126, 77.14, 0.0, 'mid', 'basic03'),
 (127, 95.0, 33.33, 'basic03', 'basic01'),
 (128, 96.67, 5.0, 'quiz02', 'basic02'),
 (129, 85.0, 3.33, 'basic03', 'quiz03'),
 (130, 75.0, 0.0, 'basic02', 'quiz03'),
 (131, 80.0, 0.0, 'basic02', 'quiz03'),
 (132, 86.67, 6.67, 'basic01', 'basic04'),
 (133, 85.0, 10.0, 'basic01', 'quiz03'),
 (134, 93.33, 0.0, 'basic01', 'quiz03'),
 (135, 93.33, 3.33, 'basic01', 'quiz01'),
 (136, 93.33, 0.0, 'basic02', 'quiz01'),
 (137, 94.29, 0.0, 'mid', 'basic01'),
 (138, 95.0, 0.0, 'basic02', 'basic03'),
 (139, 93.33, 0.0, 'basic04', 'basic02'),
 (140, 93.33, 20.0, 'quiz02', 'mid'),
 (141, 93.33, 6.67, 'basic01', 'basic04'),
 (142, 90.0, 20.0, 'basic02', 'quiz02'),
 (143, 80.0, 5.0, 'basic04', 'basic02'),
 (144, 96.67, 15.0, 'quiz03', 'basic01'),
 (145, 80.0, 0.0, 'basic03', 'quiz01'),
 (146, 85.71, 0.0, 'mid', 'basic03'),
 (147, 80.0, 10.0, 'quiz03', 'end'),
 (148, 80.0, 5.0, 'basic02', 'basic03'),
 (149, 98.0, 6.67, 'end', 'quiz01'),
 (150, 80.0, 0.0, 'quiz03', 'basic03'),
 (151, 91.43, 10.0, 'mid', 'quiz03'),
 (152, 93.33, 13.33, 'basic03', 'quiz03'),
 (153, 93.33, 20.0, 'basic02', 'quiz01'),
 (154, 86.67, 0.0, 'basic02', 'basic04'),
 (155, 90.0, 0.0, 'quiz02', 'end'),
 (156, 86.67, 5.71, 'basic02', 'mid'),
 (157, 82.0, 3.33, 'end', 'quiz03'),
 (158, 83.33, 13.33, 'quiz03', 'basic03'),
 (159, 83.33, 0.0, 'quiz01', 'basic03'),
 (160, 86.67, 0.0, 'basic04', 'quiz01'),
 (161, 97.14, 30.0, 'mid', 'basic01'),
 (162, 86.67, 13.33, 'basic03', 'basic02'),
 (163, 80.0, 3.33, 'basic03', 'quiz02'),
 (164, 85.71, 16.0, 'mid', 'end'),
 (165, 86.67, 14.29, 'quiz02', 'mid'),
 (166, 68.57, 3.33, 'mid', 'quiz02'),
 (167, 86.67, 10.0, 'basic04', 'basic03'),
 (168, 73.33, 0.0, 'basic03', 'quiz03'),
 (169, 85.0, 0.0, 'basic02', 'basic03'),
 (170, 97.14, 3.33, 'mid', 'quiz02'),
 (171, 86.67, 0.0, 'quiz02', 'basic03'),
 (172, 86.67, 13.33, 'quiz02', 'basic01'),
 (173, 96.67, 0.0, 'quiz01', 'basic03'),
 (174, 96.67, 0.0, 'quiz01', 'basic03'),
 (175, 97.14, 0.0, 'mid', 'basic02'),
 (176, 86.0, 11.43, 'end', 'mid'),
 (177, 76.67, 13.33, 'quiz02', 'basic02'),
 (178, 80.0, 0.0, 'basic01', 'quiz02'),
 (179, 90.0, 0.0, 'quiz03', 'quiz02'),
 (180, 94.29, 13.33, 'mid', 'quiz02'),
 (181, 80.0, 0.0, 'basic03', 'quiz02'),
 (182, 83.33, 3.33, 'quiz03', 'quiz02'),
 (183, 85.0, 5.0, 'basic02', 'basic03'),
 (184, 75.0, 5.0, 'basic02', 'basic03'),
 (185, 93.33, 2.0, 'basic01', 'end'),
 (186, 98.0, 13.33, 'end', 'basic01'),
 (187, 95.0, 0.0, 'basic02', 'basic03'),
 (188, 80.0, 5.0, 'mid', 'basic02'),
 (189, 85.0, 0.0, 'basic01', 'basic02'),
 (190, 93.33, 0.0, 'quiz03', 'basic02'),
 (191, 80.0, 10.0, 'quiz03', 'basic03'),
 (192, 96.67, 6.67, 'quiz01', 'basic02'),
 (193, 75.0, 0.0, 'basic03', 'basic03'),
 (194, 95.0, 12.0, 'basic01', 'end'),
 (195, 75.0, 0.0, 'basic02', 'basic02'),
 (196, 95.0, 12.0, 'basic01', 'end'),
 (197, 93.33, 6.67, 'quiz01', 'quiz02'),
 (198, 86.67, 3.33, 'quiz02', 'quiz03'),
 (199, 95.0, 26.67, 'basic03', 'basic02'),
 (200, 93.33, 20.0, 'basic01', 'quiz03'),
 (201, 90.0, 6.67, 'quiz03', 'quiz02'),
 (202, 77.14, 10.0, 'mid', 'basic01'),
 (203, 95.0, 6.67, 'basic03', 'basic03'),
 (204, 95.0, 6.67, 'basic02', 'basic01'),
 (205, 76.67, 8.0, 'quiz02', 'end'),
 (206, 95.0, 0.0, 'basic01', 'basic04'),
 (207, 75.0, 0.0, 'basic02', 'quiz02'),
 (208, 73.33, 4.0, 'quiz01', 'end'),
 (209, 93.33, 12.0, 'quiz01', 'end'),
 (210, 93.33, 13.33, 'basic04', 'basic03'),
 (211, 95.0, 0.0, 'basic01', 'end'),
 (212, 97.14, 0.0, 'mid', 'basic03'),
 (213, 95.0, 2.0, 'basic01', 'end'),
 (214, 90.0, 13.33, 'basic02', 'quiz03'),
 (215, 83.33, 20.0, 'quiz01', 'basic04'),
 (216, 93.33, 5.0, 'quiz02', 'basic03'),
 (217, 91.43, 5.0, 'mid', 'basic02'),
 (218, 86.67, 0.0, 'quiz03', 'quiz02'),
 (219, 93.33, 0.0, 'quiz02', 'quiz03'),
 (220, 96.67, 2.0, 'quiz02', 'end'),
 (221, 80.0, 0.0, 'basic02', 'quiz01'),
 (222, 70.0, 6.67, 'quiz03', 'basic02'),
 (223, 86.67, 25.0, 'basic03', 'basic02'),
 (224, 93.33, 5.0, 'basic03', 'basic03'),
 (225, 91.43, 5.0, 'mid', 'basic01'),
 (226, 93.33, 3.33, 'basic02', 'quiz02'),
 (227, 96.67, 0.0, 'quiz01', 'basic04'),
 (228, 93.33, 3.33, 'basic02', 'quiz03'),
 (229, 83.33, 13.33, 'quiz01', 'basic03'),
 (230, 93.33, 0.0, 'basic04', 'basic03'),
 (231, 96.67, 6.67, 'quiz02', 'quiz03'),
 (232, 95.0, 5.0, 'basic02', 'basic03'),
 (233, 85.0, 0.0, 'basic02', 'basic02'),
 (234, 93.33, 6.67, 'basic03', 'quiz03'),
 (235, 95.0, 5.0, 'basic01', 'basic02'),
 (236, 85.0, 5.71, 'basic02', 'mid'),
 (237, 93.33, 6.67, 'quiz01', 'basic03'),
 (238, 84.0, 26.67, 'end', 'quiz01'),
 (239, 95.0, 0.0, 'basic01', 'basic02'),
 (240, 80.0, 0.0, 'basic01', 'basic04'),
 (241, 66.67, 6.67, 'basic03', 'basic01'),
 (242, 80.0, 0.0, 'basic02', 'basic03'),
 (243, 97.14, 5.0, 'mid', 'basic01'),
 (244, 90.0, 16.67, 'end', 'quiz03'),
 (245, 95.0, 0.0, 'basic02', 'quiz02'),
 (246, 86.67, 0.0, 'basic03', 'quiz02'),
 (247, 94.0, 0.0, 'end', 'basic02'),
 (248, 94.0, 6.67, 'end', 'basic02'),
 (249, 93.33, 0.0, 'basic02', 'end'),
 (250, 90.0, 0.0, 'basic03', 'basic02'),
 (251, 95.0, 0.0, 'basic01', 'basic02'),
 (252, 96.0, 5.71, 'end', 'mid'),
 (253, 93.33, 6.67, 'basic04', 'quiz03'),
 (254, 86.67, 3.33, 'basic04', 'quiz03'),
 (255, 98.0, 13.33, 'end', 'basic02'),
 (256, 86.67, 13.33, 'basic02', 'basic01'),
 (257, 92.0, 13.33, 'end', 'basic04'),
 (258, 83.33, 0.0, 'quiz01', 'basic01'),
 (259, 76.67, 0.0, 'quiz01', 'basic02'),
 (260, 96.67, 15.0, 'quiz02', 'basic02'),
 (261, 93.33, 6.67, 'basic03', 'basic04'),
 (262, 93.33, 6.67, 'basic03', 'basic02'),
 (263, 83.33, 5.0, 'quiz01', 'basic01'),
 (264, 90.0, 0.0, 'basic01', 'quiz01'),
 (265, 86.67, 10.0, 'basic04', 'basic03'),
 (266, 86.67, 13.33, 'basic03', 'basic04'),
 (267, 73.33, 0.0, 'basic04', 'basic03'))

In [17]:
ExamDetails(df)

[['mid', '50.49-57.38', 97.14],
 ['end', '41.17-48.43', 98.0],
 ['basic01', '41.32-48.08', 95.0],
 ['basic02', '41.94-48.93', 95.0],
 ['basic03', '41.65-48.46', 95.0],
 ['basic01', '47.94-55.08', 93.33],
 ['basic02', '41.23-48.11', 93.33],
 ['basic03', '43.57-50.46', 93.33],
 ['basic04', '46.2-53.13', 93.33],
 ['quiz01', '45.39-52.18', 96.67],
 ['quiz02', '45.45-52.26', 96.67],
 ['quiz03', '41.77-48.69', 96.67]]

In [18]:
import requests
import imaplib
import string
from bs4 import BeautifulSoup
from urllib.parse import urlparse

def _request(method, url, session=None, **kwargs):
    headers = kwargs.get("headers") or dict()
    headers.update(requests.utils.default_headers())
    headers["User-Agent"] = "AppleWebKit/537.36 (KHTML, like Gecko) " \
    						#"Mozilla/5.0 (X11; Linux x86_64) " \
                            
                            #"Chrome/56.0.2924.87 Safari/537.36"
    kwargs["headers"] = headers
    if session:
        return session.request(method, url, **kwargs)
    else:
        return requests.request(method, url, **kwargs)

def _get(url, session=None, **kwargs):
    return _request('get', url, session=session, **kwargs)

def _post(url, session=None, **kwargs):
    return _request('post', url, session=session, **kwargs)

def _check_google(username, email, pw):
    with requests.Session() as session:
        r = _get("https://accounts.google.com/ServiceLogin", session=session)
        soup = BeautifulSoup(r.text, "html.parser")
        hidden_inputs = soup.find_all("input", type="hidden")
        data = {}
        for i in hidden_inputs:
            data.update({i.get('name', ''): i.get('value', '')})
        data.update({'checkConnection': 'youtube'})
        data.update({'Email': email})
        data.update({'Passwd': pw})
        r = _post("https://accounts.google.com/signin/challenge/sl/password",
                  data=data, session=session)

        i = imaplib.IMAP4_SSL('imap.gmail.com')
        try:
            i.login(email, pw)
            var =  True
        except:
            var = False
         
        return var

def _check_twitter(username, email, pw):
    with requests.Session() as session:
        r = _get("https://mobile.twitter.com/login", session=session)
        tk = session.cookies.get("_mb_tk")
        if not tk or r.status_code != 200:
            r = _get("https://mobile.twitter.com/i/nojs_router?path=%2Flogin", session=session)
            r = _get("https://mobile.twitter.com/login", session=session)
            tk = session.cookies.get("_mb_tk")
        if not tk or r.status_code != 200:
            return False
        r = _post("https://mobile.twitter.com/sessions", data={
            "authenticity_token": tk,
            "session[username_or_email]": username,
            "session[password]": pw,
            "remember_me": 0,
            "wfa": 1,
            "redirect_after_login": "/home"
        }, session=session)
        url = urlparse(r.url)
        return url.path != "/login/error"

def _check_github(username, email, pw):
    with requests.Session() as session:
        r = _get("https://github.com/login", session=session)
        soup = BeautifulSoup(r.text, "html.parser")
        i = soup.select_one("input[name='authenticity_token']")
        token = i["value"]
        r = _post("https://github.com/session", session=session, data={
            "utf8": "✓",
            "commit": "Sign in",
            "authenticity_token": token,
            "login": username,
            "password": pw,
        })
        url = urlparse(r.url)
        return url.path != "/session" and url.path != "/login"

def _check_fb(username, email, pw):
    with requests.Session() as session:
        r = _get("https://www.facebook.com", session=session)
        if r.status_code != 200:
            return False
        r = _post("https://www.facebook.com/login.php?login_attempt=1&lwv=100", data={
            "email": email,
            "pass": pw,
            "legacy_return": 0,
            "timezone": 480,
        }, session=session)
        url = urlparse(r.url)
        return url.path != "/login.php"

def _check_hn(username, email, pw):
    r = _post("https://news.ycombinator.com", data={
        "goto": "news",
        "acct": username,
        "pw": pw
    }, allow_redirects=False)
    return "Bad login" not in r.text

checks = {
    "Twitter": _check_twitter,
    "Facebook": _check_fb,
    "GitHub": _check_github,
    "Hacker News": _check_hn,
    "Google": _check_google
}

def check_pass(pw, email, username):
    errors = list()
    username = username or email
    for check in checks:
        try:
            if checks[check](username, email, pw):
                errors.append("Your password must not be the same as your {} password".format(check))
        except:
            pass
    return errors
    
print(check_pass('123456', 'tanayrathore21@gmail.com', 'tanayrathore21'))

[]