In [1]:
import numpy as np
import pandas as pd
import random

In [2]:
def makeDF(tuples, header):
    '''Assumes tuples as Python tuples both empty or non empty; header as a tuple with a convention
       as (RollNumber, Name, Exam-[name]-[max-marks], ..., Lab-[name]-[max-marks], ...,
       Asgn-[name]-[max-marks], ..., Oth-[name]-[max-marks],)

       Returns a Pandas DataFrame with all NULL values replaced by Cipher, and adds a fraud column
       for figuring out cheating factor for later functions.'''

    # make rows, column IDs and marks as a list for DataFrame initialization

    row_index = [int(i) for i in range(1, len(tuples) + 1)]
    col_index = list(header)
    values = list(tuples)

    # DataFrame initialisation

    df = pd.DataFrame(tuples, row_index, col_index)

    # Handling of NULLs

    for col in list(df.columns):
        df[col] = df[col].fillna(value=0)

    # Make a copy of last given exams marks

    df['fraud'] = 0
    df['fraud'] = df[df.columns[-2]]

    return df


def scaleMarks(df):
    '''Assumes df as a Pandas DataFrame.

       Returns a Pandas DataFrame with marks scaled up according to the max-marks defined in the
       column headings'''

    # iterate through all columns and scale marks using apply() attribute of DataFrames

    for exam in list(df.columns):
        if len(exam.split('-')) > 2:
            df[exam] = df[exam].apply(lambda x: x * 100 \
                                                / int(exam.split('-')[2]))

    return df


def createAvg(marks):
    '''Assumes marks as a Pandas DataFrame.

       Returns a DataFrame with added columns for overall weighted average, and individual exam,
       lab, assignments and other evaluations average'''

    # initilaize columns as zero

    marks['overall'] = 0
    marks['avgExam'] = 0
    marks['avgLab'] = 0
    marks['avgAsgn'] = 0
    marks['avgOth'] = 0

    # initialize count variables as zero

    exams = 0
    lab = 0
    asgn = 0
    oth = 0

    # iterate through the column list, filter and sum based on '-' as the additional columns do not have a '-'

    for exam in list(marks.columns):
        if exam.lower().startswith('exam'):
            marks['avgExam'] += marks[exam]
            exams += 1
        elif exam.lower().startswith('lab'):

            marks['avgLab'] += marks[exam]
            lab += 1
        elif exam.lower().startswith('asgn'):

            marks['avgAsgn'] += marks[exam]
            asgn += 1
        elif exam.lower().startswith('oth'):

            marks['avgOth'] += marks[exam]
            oth += 1
        else:

            continue

    # weight and scale marks and divide by total number of instances of similar type counted.
    # Weights based on the strictness  and students' interest in overall exam process

    marks['overall'] = 0.5 * marks['avgExam'] / exams + 0.3 \
                       * marks['avgLab'] / lab + 0.1 * marks['avgAsgn'] / asgn + 0.1 \
                       * marks['avgOth'] / oth

    return marks


def createChMarks(marks):
    '''Assumes marks as a Pandas DataFrame.

       Returns a DataFrame with added column ChMarks which would be used further for overall cheating status'''

    # Not included marks for Assignments as they are done by students AT HOME

    marks['ChMarks'] = (marks['avgExam'] + marks['avgLab']
                        + marks['avgOth']) / 3
    return marks


def variance(df):
    '''Assumes df as a Pandas DataFrame.

       Returns the same DataFrame with added column for variance which has variance for all scores for a particular
       student'''

    # Figure out first the columns to be considered for variance calculation. Used '-' as an identifier again

    ls = list(df.columns)
    buffer = []
    for i in range(len(ls)):
        if len(ls[i].split('-')) > 2:
            buffer.append(ls[i])
        else:
            continue

    # initialise column var with iteration based indices so as to use the power of apply() attribute

    df['var'] = [int(i) for i in range(len(df[df.columns[0]]))]

    # make a dummy row index for slicing DataFrame for calculation

    row_index = [int(i) for i in range(1, 1 + len(df[df.columns[0]]))]

    # use the value in var as an indirect reference for the whole row and use the describe() attribute to get std

    df['var'] = df['var'].apply(lambda x: df.loc[row_index,
                                                 buffer].iloc[x].describe()['std'] ** 2)

    return df


def CI(marks, column):
    '''Assumes marks as a Pandas DataFrame and column and a string.

       Returns the 95% confidence interval for the given data as a tuple with entries as (low, high)'''

    column = str(column)

    # CI = mean +- 2*std_error; std_error = std_deviation/sqrt(total observations)

    std_error = marks[column].describe()['std'] / len(marks['avgExam']) \
                ** 0.5
    mean = marks[column].describe()['mean']

    return (mean - 2 * std_error, mean + 2 * std_error)


def width(tup):
    '''Assumes tup as tuple.

       Returns an integer as the difference of 2nd and 1st values of tuple'''

    return tup[1] - tup[0]


def CourseStats(marks):
    '''Assumes marks as a Pandas DataFrame.

       Returns a tuple with values as : (course_difficulty, cheat_risk, list(cheat_flagged),
                                         avg_marks, quartile1, quartile2, quartile3,)

       course_difficulty (str) : HIGH/MODERATE/EASY based on the weighted average and cut-off marks
       cheat_risk (str) : HIGH/MODERATE/LOW based on the spread of Assignment and Other Exam marks
       cheat_flagged (list) : A list of 5 RollNumbers who we believe with some confidence are
                              indulged in academic malpractices in the class as a whole.
       avg_marks (str) : A range of marks where the most of students lie in between.
       quartile1, quartile2, quartile3 (int) : The stastical quartile scores for the overall analysis.'''

    # Calculate course difficulty based on 3rd Quartile scores of students.

    marker = marks['overall'].describe()['75%']
    if marker > 0 and marker < 40:
        course_difficulty = 'HIGH'
    elif marker > 40 and marker < 75:
        course_difficulty = 'MODERATE'
    else:
        course_difficulty = 'EASY'

    # Calculate the probability of cheating based on the width of assignment scores and other marks combined

    cheatProb = 1 - width(CI(marks, 'avgAsgn')) / width(CI(marks,
                                                           'ChMarks'))
    if cheatProb > 0.7 and cheatProb < 1:
        cheat_risk = 'HIGH'
    elif cheatProb > 0.4 and cheatProb < 0.7:
        cheat_risk = 'MODERATE'
    else:
        cheat_risk = 'LOW'

    # Flag out top 5 students whose overall scores and assignment socres tell two different stories

    marks['cheatflagged'] = 0

    marks['cheatflagged'] = marks['avgAsgn'] - marks['ChMarks']
    cheat_flagged = marks.sort_values('cheatflagged', ascending=False)['RollNumber'].iloc[1:6]

    # Calculate the range of marks for most students
    avg_marks = str(round(CI(marks, 'overall')[0], 2)) + '-' + str(round(CI(marks, 'overall')[1], 2))

    # Calculate quartile scores for weighted marks

    quartile1 = round(marks['overall'].describe()['25%'], 2)
    quartile2 = round(marks['overall'].describe()['50%'], 2)
    quartile3 = round(marks['overall'].describe()['75%'], 2)

    return (
        course_difficulty,
        cheat_risk,
        list(cheat_flagged),
        avg_marks,
        [quartile1,
         quartile2,
         quartile3]
    )


def ExamStats(marks):
    '''Assumes marks as a Pandas DataFrame.

       Returns a tuple with values as : (exam_difficulty, cheat_risk, list(cheat_flagged),
                                         avg_marks, quartile1, quartile2, quartile3,)

       exam_difficulty (str) : HIGH/MODERATE/EASY based on the exam performance
       cheat_risk (str) : HIGH/MODERATE/LOW based on the unevenness in marks
       cheat_flagged (list) : A list of 5 RollNumbers who we believe with some confidence should
                              be re-evaluated
       avg_marks (str) : A range of marks where the most of students lie in between.
       quartile1, quartile2, quartile3 (int) : The stastical quartile scores for the overall analysis.'''

    # Figure out the name of last exam and store it in location

    temp = list(marks.columns)
    count = 1
    for i in range(len(temp)):
        if len(temp[i].split('-')) > 2:
            count += 1
    location = temp[count]

    # Calculate the difficulty based on 2nd quartile cut-offs

    marker = marks[location].describe()['50%']
    if marker > 0 and marker < 40:
        exam_difficulty = 'HIGH'
    elif marker > 40 and marker < 75:
        exam_difficulty = 'MODERATE'
    else:
        exam_difficulty = 'EASY'

    # Build the frequency table for digit occurences, add the numbers not present in DataFrame with zero occurence

    freq_df = marks['fraud'].apply(lambda x: int(x % 10)).value_counts()

    for i in range(10):
        try:
            if freq_df.loc[i] >= 0:
                continue
        except:
            freq_df.loc[i] = 0

    # Calculate the variance of the same Dataframe and figure out cheating risk

    cheat_var = freq_df.describe()['std'] ** 2
    if cheat_var < 15:
        cheat_risk = 'LOW'
    if cheat_var > 15 and cheat_var < 80:
        cheat_risk = 'MODERATE'
    else:
        cheat_risk = 'HIGH'

    # Find the number with most occurences, sample 5 random roll numbers with that number for re-evaluation

    max_repeat = freq_df.index[0]
    marks['fraud'] = marks['fraud'].apply(lambda x: int(x % 10))
    suspicious = marks[marks['fraud'] == max_repeat]['fraud']
    if len(suspicious) > 5:
        check_sheets_index = random.sample(list(range(0, len(suspicious))), 5)
        cheat_flagged = []
        for index in check_sheets_index:
            cheat_flagged.append(marks['RollNumber'].iloc[index])
    else:
        cheat_flagged = []

    # Calculate the range of marks for most students

    avg_marks = str(round(CI(marks, location)[0], 2)) + '-' + str(round(CI(marks, location)[1],2))

    # Calculate quartile scores for exam marks

    quartile1 = round(marks[location].describe()['25%'], 2)
    quartile2 = round(marks[location].describe()['50%'], 2)
    quartile3 = round(marks[location].describe()['75%'], 2)

    return (
        exam_difficulty,
        cheat_risk,
        cheat_flagged,
        avg_marks,
        [quartile1,
         quartile2,
         quartile3],
    )


def PersistentLabels(df):
    '''Assumes df as a Pandas DataFrame.

       Returns a tuple with values as (consistent, moderately_varying, highly_varying,)

       consistent (list) : RollNumbers have almost no variation in their marks obtained so far.
       moderately_varying (list) : RollNumbers have some variation in their marks obtained so far.
       highly_varying (list) : RollNumbers have a high variation in their marks obtained so far.'''

    # calculate and filter the roll number list

    consistent = list(df[df['var'] < 30]['RollNumber'])
    moderately_varying = list(df[(df['var'] > 30) & (df['var']
                                                     < 150)]['RollNumber'])
    highly_varying = list(df[df['var'] > 150]['RollNumber'])

    return (consistent, moderately_varying, highly_varying)


def PerformanceLabels(df):
    '''Assumes df as a Pandas DataFrame.

       Returns a tuple with values as (exceptional, promising, average, needy,)

       exceptional (list) : RollNumbers with really good performance overall.
       promising (list) : RollNumbers who can be pushed to top with a little efforts.
       average (list) : RollNumbers who are just a few steps from failing marks and need some attention.
       needy (list) : RollNumbers who are in an immediate need of attention.'''

    # Calculate and filter the roll number list

    exceptional = list(df[df['overall'] > 85]['RollNumber'])
    promising = list(df[(df['overall'] < 85) & (df['overall']
                                                > 50)]['RollNumber'])
    average = list(df[(df['overall'] < 50) & (df['overall']
                                              > 30)]['RollNumber'])
    needy = list(df[df['overall'] < 30]['RollNumber'])

    return (exceptional, promising, average, needy)


def mainFunc(df):
    '''Assumes df as a Pandas DataFrame.

       Returns the top needy students based on algo as a list.'''

    # initialise an empty column to save scores

    df['temp'] = 1 / df['overall'] + df['var']
    return list((df.sort_values('temp', ascending=False)['RollNumber'])[0:5])

def getRank(df, exam):
    '''Assumes df as a Pandas dataframe, amd exam as a string.
    
       Returns a dataframe with ranks according to roll number.'''
    
    #Sort values according to the particular exam on Roll number column. 
    examRank = df.sort_values(exam, ascending = False)['RollNumber']
    
    #initialise a dummy column later to be used as the rank.
    temp = [int(i) + 1 for i in range(len(df['RollNumber']))]
    
    #join the two columns in a dataframe and sort according to Roll number. 
    df1 = pd.DataFrame({exam : temp, 'RollNumber' : examRank})
    df1.sort_values('RollNumber', inplace=True)
    
    return df1

def getRankMatrix(df):
    '''Assumes df as a Pandas DataFrame.
    
        Returns a tuple of tuples with individual type of exam ranks.'''
    
    #find individual ranks for classes of exams
    df1 = getRank(df, 'avgExam')
    df2 = getRank(df, 'avgLab')
    df3 = getRank(df, 'avgAsgn')
    df4 = getRank(df, 'avgOth')
    df5 = getRank(df, 'overall')
    
    #make the combines dataframe
    temp = df['RollNumber']
    dfRank = pd.DataFrame({'RollNumber' : temp, 'ClassRank' : df5['overall'], 'ExamRank' : df1['avgExam'], 'LabRank' : df2['avgLab'], 'AsgnRank' : df3['avgAsgn'], 'OthRank' : df4['avgOth']})

    return tuple([tuple(x) for x in dfRank.to_records(index=False)])

def ExamDetails(df):
    '''Assumes df as a Pandas DataFrame.
    
    Returns a listof lists with individual exam analysis'''
    
    details = []
    
    #for all the exams entered, find CI, max marks and exam name.
    for exam in df.columns:
        if len(exam.split('-')) > 2:
            avgCI = str(round(CI(df, exam)[0], 2)) + '-' + str(round(CI(df, exam)[1], 2))
            examName = exam.split('-')[1]
            maxMarks = round(max(df[exam]), 2) 
            details.append([examName, avgCI, maxMarks])
    
    return details

def findBestExam(i):
    '''Assumes i as an int.
    
       Returns a string with the value as the exam with maximum marks in any Dataframe record'''
    
    #find exams
    evals = []
    for exam in df.columns:
        if len(exam.split('-')) > 2:
            evals.append(exam)
    
    #Boolean Series with True at the desired location
    check = df[evals].iloc[i] == df.iloc[i]['best']
    
    #list of all conducted exam columns
    temp = df[evals].columns
    
    #find the name of exam, as per the faculty
    for seek in range(len(temp)):
        if check[seek] == True:
            exam = temp[seek].split('-')[1]
    
    return exam

def findWorstExam(i):
    '''Assumes i as an int.
    
       Returns a string with the value as the exam with minimum marks in any Dataframe record'''
    
    #find exams
    evals = []
    for exam in df.columns:
        if len(exam.split('-')) > 2:
            evals.append(exam)
    
    #Boolean Series with True at the desired location
    check = df[evals].iloc[i] == df.iloc[i]['worst']
    
    #list of all conducted exam columns
    temp = df[evals].columns
    
    #find the name of exam, as per the faculty
    for seek in range(len(temp)):
        if check[seek] == True:
            exam = temp[seek].split('-')[1]
    
    return exam

def studentMarks(df):
    '''Assumes df as a Pandas DataFrame.
    
       Returns a tuple of tuples, with best exam and worst exam performances.'''
    
    #find all the exam names
    evals = []
    for exam in df.columns:
        if len(exam.split('-')) > 2:
            evals.append(exam)
    #initialise new attributes with their iterative location index to use the power of lambda functions.
    df['best'] = [i for i in range(len(df['RollNumber']))]
    df['worst'] = [i for i in range(len(df['RollNumber']))]
    df['bestExam'] = [i for i in range(len(df['RollNumber']))]
    df['worstExam'] = [i for i in range(len(df['RollNumber']))]

    #Find the max or min oerformance of the record.
    df['best'] = df['best'].apply(lambda x : max(df[evals].iloc[x]))
    df['worst'] = df['worst'].apply(lambda x : min(df[evals].iloc[x]))
    
    #Find the best or worst exam name.
    df['bestExam'] = df['bestExam'].apply(findBestExam)
    df['worstExam'] = df['worstExam'].apply(findWorstExam)
    
    #rounding off
    df['best'] = df['best'].apply(lambda x : round(x, 2))
    df['worst'] = df['worst'].apply(lambda x : round(x, 2))
    
    #Make new dataframe
    df1 = df[['RollNumber', 'best', 'worst', 'bestExam', 'worstExam']]

    #Coercion
    ret  = tuple([tuple(x) for x in df1.to_records(index=False)])
    
    return ret

In [3]:
tuples = np.random.randn(267, 14)
headers =  ['RollNumber', 'Name', 'exam-mid-35', 'exam-end-50', 'lab-basic01-20','lab-basic02-20','lab-basic03-20','asgn-basic01-15','asgn-basic02-15','asgn-basic03-15','asgn-basic04-15','oth-quiz01-30', 'oth-quiz02-30', 'oth-quiz03-30']
roll = [i for i in range(1, 268)]
max_marks = [1, 1, 35, 50, 20, 20, 20, 15, 15, 15, 15, 30, 30, 30]
df = pd.DataFrame(tuples)
for i in range(14):
    df[i] = df[i].apply(lambda x : int((x*100)%max_marks[i]))
df.columns = headers
df['RollNumber'] = roll
df['fraud'] = 0
df['fraud'] = df['oth-quiz03-30']

In [4]:
df.head()

,RollNumber,Name,exam-mid-35,exam-end-50,lab-basic01-20,lab-basic02-20,lab-basic03-20,asgn-basic01-15,asgn-basic02-15,asgn-basic03-15,asgn-basic04-15,oth-quiz01-30,oth-quiz02-30,oth-quiz03-30,fraud
0,1,0,29,47,9,10,8,9,5,11,14,14,28,25,25
1,2,0,8,10,17,8,6,10,9,2,6,15,1,11,11
2,3,0,25,19,10,11,16,11,11,11,12,20,27,26,26
3,4,0,7,28,16,13,0,14,14,10,2,13,11,9,9
4,5,0,18,37,11,9,8,7,1,14,4,27,16,24,24

In [5]:
df = scaleMarks(df)
df.head()

,RollNumber,Name,exam-mid-35,exam-end-50,lab-basic01-20,lab-basic02-20,lab-basic03-20,asgn-basic01-15,asgn-basic02-15,asgn-basic03-15,asgn-basic04-15,oth-quiz01-30,oth-quiz02-30,oth-quiz03-30,fraud
0,1,0,82.857143,94.0,45.0,50.0,40.0,60.000000,33.333333,73.333333,93.333333,46.666667,93.333333,83.333333,25
1,2,0,22.857143,20.0,85.0,40.0,30.0,66.666667,60.000000,13.333333,40.000000,50.000000,3.333333,36.666667,11
2,3,0,71.428571,38.0,50.0,55.0,80.0,73.333333,73.333333,73.333333,80.000000,66.666667,90.000000,86.666667,26
3,4,0,20.000000,56.0,80.0,65.0,0.0,93.333333,93.333333,66.666667,13.333333,43.333333,36.666667,30.000000,9
4,5,0,51.428571,74.0,55.0,45.0,40.0,46.666667,6.666667,93.333333,26.666667,90.000000,53.333333,80.000000,24

In [6]:
df = createAvg(df)
df = createChMarks(df)
df = variance(df)

/home/carbon/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:137: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike

In [7]:
df.head()

,RollNumber,Name,exam-mid-35,exam-end-50,lab-basic01-20,lab-basic02-20,lab-basic03-20,asgn-basic01-15,asgn-basic02-15,asgn-basic03-15,...,oth-quiz02-30,oth-quiz03-30,fraud,overall,avgExam,avgLab,avgAsgn,avgOth,ChMarks,var
0,1,0,82.857143,94.0,45.0,50.0,40.0,60.000000,33.333333,73.333333,...,93.333333,83.333333,25,71.658730,176.857143,135.0,260.000000,223.333333,178.396825,553.124356
1,2,0,22.857143,20.0,85.0,40.0,30.0,66.666667,60.000000,13.333333,...,3.333333,36.666667,11,33.714286,42.857143,155.0,180.000000,90.000000,95.952381,233.895056
2,3,0,71.428571,38.0,50.0,55.0,80.0,73.333333,73.333333,73.333333,...,90.000000,86.666667,26,61.468254,109.428571,185.0,300.000000,243.333333,179.253968,960.049663
3,4,0,20.000000,56.0,80.0,65.0,0.0,93.333333,93.333333,66.666667,...,36.666667,30.000000,9,43.833333,76.000000,145.0,266.666667,110.000000,110.333333,657.176802
4,5,0,51.428571,74.0,55.0,45.0,40.0,46.666667,6.666667,93.333333,...,53.333333,80.000000,24,57.134921,125.428571,140.0,173.333333,223.333333,162.920635,904.213152

In [8]:
CourseStats(df)

('MODERATE',
 'LOW',
 [250, 252, 172, 82, 132],
 '46.28-49.26',
 [38.55, 47.6, 56.57])

In [9]:
df.head()

,RollNumber,Name,exam-mid-35,exam-end-50,lab-basic01-20,lab-basic02-20,lab-basic03-20,asgn-basic01-15,asgn-basic02-15,asgn-basic03-15,...,oth-quiz03-30,fraud,overall,avgExam,avgLab,avgAsgn,avgOth,ChMarks,var,cheatflagged
0,1,0,82.857143,94.0,45.0,50.0,40.0,60.000000,33.333333,73.333333,...,83.333333,25,71.658730,176.857143,135.0,260.000000,223.333333,178.396825,553.124356,81.603175
1,2,0,22.857143,20.0,85.0,40.0,30.0,66.666667,60.000000,13.333333,...,36.666667,11,33.714286,42.857143,155.0,180.000000,90.000000,95.952381,233.895056,84.047619
2,3,0,71.428571,38.0,50.0,55.0,80.0,73.333333,73.333333,73.333333,...,86.666667,26,61.468254,109.428571,185.0,300.000000,243.333333,179.253968,960.049663,120.746032
3,4,0,20.000000,56.0,80.0,65.0,0.0,93.333333,93.333333,66.666667,...,30.000000,9,43.833333,76.000000,145.0,266.666667,110.000000,110.333333,657.176802,156.333333
4,5,0,51.428571,74.0,55.0,45.0,40.0,46.666667,6.666667,93.333333,...,80.000000,24,57.134921,125.428571,140.0,173.333333,223.333333,162.920635,904.213152,10.412698

In [10]:
ExamStats(df)

('MODERATE',
 'MODERATE',
 [23, 26, 24, 29, 32],
 '42.73-49.9',
 [20.0, 43.33, 73.33])

In [11]:
PersistentLabels(df)

([],
 [],
 [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  61,
  62,
  63,
  64,
  65,
  66,
  67,
  68,
  69,
  70,
  71,
  72,
  73,
  74,
  75,
  76,
  77,
  78,
  79,
  80,
  81,
  82,
  83,
  84,
  85,
  86,
  87,
  88,
  89,
  90,
  91,
  92,
  93,
  94,
  95,
  96,
  97,
  98,
  99,
  100,
  101,
  102,
  103,
  104,
  105,
  106,
  107,
  108,
  109,
  110,
  111,
  112,
  113,
  114,
  115,
  116,
  117,
  118,
  119,
  120,
  121,
  122,
  123,
  124,
  125,
  126,
  127,
  128,
  129,
  130,
  131,
  132,
  133,
  134,
  135,
  136,
  137,
  138,
  139,
  140,
  141,
  142,
  143,
  144,
  145,
  146,
  147,
  148,
  149,
  150,
  151,
  152,
  153,
  154,
  155,
  156,
  157,
  158,
  159,
  160,
  161,
  162,
  163,
  164,
  165,
  166,
  167,
  168,
  169,
  170,
  171,
  172,
  173,
  174,
  175,
  176,
  177,
  178,
  179,
  180,
  181,
  182,
  183,
  184,
  185,
  186,
  187,
  188,
  189,
  190,
  191,
  192,
  193,
  194,
  195,
  196,
  197,
  198,
  199,
  200,
  201,
  202,
  203,
  204,
  205,
  206,
  207,
  208,
  209,
  210,
  211,
  212,
  213,
  214,
  215,
  216,
  217,
  218,
  219,
  220,
  221,
  222,
  223,
  224,
  225,
  226,
  227,
  228,
  229,
  230,
  231,
  232,
  233,
  234,
  235,
  236,
  237,
  238,
  239,
  240,
  241,
  242,
  243,
  244,
  245,
  246,
  247,
  248,
  249,
  250,
  251,
  252,
  253,
  254,
  255,
  256,
  257,
  258,
  259,
  260,
  261,
  262,
  263,
  264,
  265,
  266])

In [12]:
PerformanceLabels(df)

([],
 [1,
  3,
  5,
  9,
  11,
  13,
  14,
  15,
  22,
  23,
  24,
  25,
  31,
  33,
  35,
  37,
  39,
  40,
  41,
  42,
  51,
  55,
  56,
  58,
  60,
  63,
  65,
  66,
  68,
  70,
  74,
  76,
  77,
  79,
  82,
  85,
  88,
  89,
  94,
  96,
  97,
  99,
  104,
  106,
  108,
  109,
  110,
  112,
  117,
  125,
  127,
  129,
  131,
  132,
  138,
  140,
  141,
  145,
  146,
  147,
  151,
  154,
  158,
  159,
  160,
  162,
  165,
  166,
  168,
  170,
  171,
  173,
  175,
  177,
  178,
  182,
  186,
  188,
  189,
  191,
  193,
  194,
  195,
  196,
  199,
  200,
  201,
  203,
  205,
  208,
  210,
  216,
  218,
  221,
  222,
  223,
  224,
  227,
  232,
  236,
  237,
  238,
  239,
  242,
  243,
  247,
  248,
  249,
  253,
  259,
  260,
  261,
  262,
  263],
 [2,
  4,
  6,
  7,
  8,
  10,
  12,
  17,
  18,
  19,
  20,
  21,
  26,
  27,
  28,
  29,
  30,
  32,
  34,
  36,
  38,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  52,
  53,
  54,
  57,
  59,
  61,
  62,
  64,
  67,
  69,
  72,
  73,
  75,
  78,
  80,
  83,
  84,
  86,
  87,
  90,
  91,
  92,
  100,
  101,
  102,
  103,
  105,
  107,
  111,
  114,
  115,
  116,
  119,
  120,
  121,
  122,
  128,
  130,
  133,
  135,
  136,
  137,
  142,
  143,
  144,
  148,
  149,
  152,
  153,
  155,
  156,
  157,
  161,
  163,
  164,
  167,
  169,
  172,
  174,
  176,
  180,
  181,
  183,
  184,
  185,
  187,
  192,
  197,
  202,
  204,
  206,
  207,
  211,
  212,
  213,
  214,
  215,
  217,
  219,
  220,
  225,
  226,
  228,
  229,
  230,
  231,
  233,
  234,
  235,
  240,
  241,
  244,
  245,
  246,
  250,
  251,
  252,
  254,
  255,
  257,
  258,
  264,
  265,
  266,
  267],
 [16,
  71,
  81,
  93,
  95,
  98,
  113,
  118,
  123,
  124,
  126,
  134,
  139,
  150,
  179,
  190,
  198,
  209,
  256])

In [13]:
mainFunc(df)

[165, 103, 102, 76, 92]

In [14]:
df.head()

,RollNumber,Name,exam-mid-35,exam-end-50,lab-basic01-20,lab-basic02-20,lab-basic03-20,asgn-basic01-15,asgn-basic02-15,asgn-basic03-15,...,fraud,overall,avgExam,avgLab,avgAsgn,avgOth,ChMarks,var,cheatflagged,temp
0,1,0,82.857143,94.0,45.0,50.0,40.0,60.000000,33.333333,73.333333,...,5,71.658730,176.857143,135.0,260.000000,223.333333,178.396825,553.124356,81.603175,553.138311
1,2,0,22.857143,20.0,85.0,40.0,30.0,66.666667,60.000000,13.333333,...,1,33.714286,42.857143,155.0,180.000000,90.000000,95.952381,233.895056,84.047619,233.924717
2,3,0,71.428571,38.0,50.0,55.0,80.0,73.333333,73.333333,73.333333,...,6,61.468254,109.428571,185.0,300.000000,243.333333,179.253968,960.049663,120.746032,960.065932
3,4,0,20.000000,56.0,80.0,65.0,0.0,93.333333,93.333333,66.666667,...,9,43.833333,76.000000,145.0,266.666667,110.000000,110.333333,657.176802,156.333333,657.199616
4,5,0,51.428571,74.0,55.0,45.0,40.0,46.666667,6.666667,93.333333,...,4,57.134921,125.428571,140.0,173.333333,223.333333,162.920635,904.213152,10.412698,904.230654

In [15]:
getRankMatrix(df)

((1, 8, 10, 143, 25, 17),
 (2, 232, 232, 101, 143, 224),
 (3, 38, 107, 53, 6, 6),
 (4, 163, 179, 122, 21, 192),
 (5, 63, 71, 128, 162, 16),
 (6, 130, 156, 48, 201, 201),
 (7, 186, 228, 87, 19, 134),
 (8, 248, 262, 151, 71, 29),
 (9, 88, 102, 51, 233, 129),
 (10, 122, 124, 120, 34, 215),
 (11, 96, 135, 89, 79, 48),
 (12, 198, 142, 249, 200, 137),
 (13, 42, 40, 50, 140, 260),
 (14, 43, 69, 68, 99, 57),
 (15, 93, 53, 214, 199, 71),
 (16, 251, 208, 240, 206, 240),
 (17, 158, 174, 88, 157, 220),
 (18, 216, 259, 17, 151, 104),
 (19, 141, 85, 238, 101, 160),
 (20, 127, 128, 219, 98, 3),
 (21, 184, 170, 233, 85, 81),
 (22, 85, 108, 164, 15, 15),
 (23, 33, 28, 166, 42, 119),
 (24, 105, 76, 193, 66, 187),
 (25, 34, 56, 14, 243, 142),
 (26, 170, 199, 117, 54, 53),
 (27, 230, 222, 229, 65, 66),
 (28, 201, 178, 185, 165, 225),
 (29, 247, 225, 218, 175, 184),
 (30, 153, 160, 181, 70, 108),
 (31, 64, 131, 5, 43, 249),
 (32, 223, 231, 160, 22, 144),
 (33, 60, 74, 61, 205, 115),
 (34, 194, 236, 36, 141, 98),
 (35, 55, 31, 182, 263, 31),
 (36, 214, 223, 113, 166, 140),
 (37, 25, 14, 149, 77, 252),
 (38, 178, 127, 247, 114, 180),
 (39, 28, 49, 130, 11, 20),
 (40, 94, 138, 24, 159, 130),
 (41, 86, 121, 64, 74, 118),
 (42, 58, 21, 174, 250, 209),
 (43, 193, 143, 248, 207, 84),
 (44, 205, 224, 162, 37, 101),
 (45, 117, 139, 106, 18, 150),
 (46, 177, 152, 136, 260, 219),
 (47, 217, 226, 134, 169, 90),
 (48, 155, 146, 154, 147, 171),
 (49, 146, 141, 172, 208, 41),
 (50, 210, 186, 210, 262, 47),
 (51, 15, 43, 13, 212, 28),
 (52, 129, 75, 251, 118, 33),
 (53, 197, 171, 198, 124, 248),
 (54, 131, 60, 242, 107, 230),
 (55, 9, 13, 18, 257, 161),
 (56, 54, 45, 178, 149, 24),
 (57, 241, 257, 73, 127, 169),
 (58, 68, 79, 77, 87, 226),
 (59, 189, 198, 165, 181, 25),
 (60, 103, 93, 196, 52, 106),
 (61, 221, 211, 175, 256, 32),
 (62, 243, 242, 144, 129, 117),
 (63, 22, 35, 95, 35, 77),
 (64, 209, 119, 265, 161, 148),
 (65, 77, 87, 111, 67, 95),
 (66, 1, 1, 66, 24, 121),
 (67, 207, 177, 250, 60, 85),
 (68, 66, 113, 19, 182, 116),
 (69, 182, 255, 21, 26, 22),
 (70, 20, 32, 86, 38, 125),
 (71, 267, 244, 267, 12, 262),
 (72, 222, 258, 25, 150, 94),
 (73, 164, 59, 258, 223, 214),
 (74, 31, 67, 7, 218, 110),
 (75, 168, 227, 92, 27, 14),
 (76, 67, 47, 55, 234, 266),
 (77, 16, 9, 150, 204, 170),
 (78, 238, 246, 104, 154, 158),
 (79, 59, 51, 145, 75, 128),
 (80, 215, 221, 127, 215, 91),
 (81, 256, 249, 195, 163, 109),
 (82, 24, 22, 131, 1, 247),
 (83, 120, 120, 222, 89, 4),
 (84, 140, 126, 153, 138, 188),
 (85, 40, 12, 179, 258, 207),
 (86, 138, 194, 42, 109, 62),
 (87, 169, 188, 177, 32, 27),
 (88, 110, 70, 221, 63, 175),
 (89, 36, 62, 62, 131, 34),
 (90, 244, 243, 132, 187, 112),
 (91, 148, 150, 98, 228, 143),
 (92, 234, 189, 235, 93, 257),
 (93, 266, 267, 211, 112, 206),
 (94, 80, 54, 234, 17, 114),
 (95, 265, 261, 262, 126, 42),
 (96, 101, 99, 197, 68, 40),
 (97, 12, 15, 34, 96, 250),
 (98, 259, 265, 123, 188, 100),
 (99, 114, 89, 209, 64, 152),
 (100, 224, 182, 243, 232, 45),
 (101, 142, 145, 152, 174, 56),
 (102, 123, 104, 156, 45, 242),
 (103, 157, 205, 32, 253, 39),
 (104, 7, 4, 110, 47, 200),
 (105, 115, 164, 56, 80, 147),
 (106, 53, 63, 125, 152, 12),
 (107, 121, 88, 191, 102, 198),
 (108, 29, 34, 35, 249, 223),
 (109, 5, 5, 22, 226, 199),
 (110, 106, 42, 254, 83, 153),
 (111, 204, 217, 135, 178, 73),
 (112, 56, 46, 157, 238, 9),
 (113, 262, 248, 187, 252, 190),
 (114, 212, 206, 189, 179, 79),
 (115, 179, 201, 100, 231, 38),
 (116, 124, 125, 96, 104, 239),
 (117, 81, 72, 112, 103, 213),
 (118, 260, 250, 190, 180, 195),
 (119, 242, 214, 204, 255, 167),
 (120, 246, 235, 161, 176, 179),
 (121, 137, 167, 133, 44, 67),
 (122, 183, 112, 245, 209, 208),
 (123, 254, 254, 138, 254, 37),
 (124, 253, 256, 146, 222, 36),
 (125, 104, 48, 260, 203, 5),
 (126, 261, 247, 237, 132, 157),
 (127, 39, 86, 39, 30, 72),
 (128, 126, 155, 107, 58, 87),
 (129, 83, 91, 170, 111, 21),
 (130, 166, 184, 147, 81, 58),
 (131, 82, 140, 70, 170, 1),
 (132, 79, 90, 126, 4, 233),
 (133, 202, 241, 11, 241, 111),
 (134, 257, 237, 203, 160, 235),
 (135, 208, 181, 216, 230, 88),
 (136, 133, 233, 4, 100, 19),
 (137, 181, 191, 148, 248, 11),
 (138, 98, 58, 239, 40, 83),
 (139, 249, 234, 184, 247, 132),
 (140, 72, 39, 171, 164, 228),
 (141, 71, 55, 129, 261, 46),
 (142, 211, 219, 183, 142, 54),
 (143, 227, 207, 186, 167, 212),
 (144, 200, 110, 253, 235, 232),
 (145, 4, 2, 82, 183, 63),
 (146, 13, 26, 83, 76, 13),
 (147, 45, 65, 20, 119, 227),
 (148, 236, 212, 225, 59, 238),
 (149, 176, 200, 67, 113, 237),
 (150, 255, 264, 47, 266, 82),
 (151, 112, 153, 85, 251, 7),
 (152, 213, 197, 223, 31, 181),
 (153, 147, 157, 114, 192, 89),
 (154, 10, 25, 43, 48, 86),
 (155, 132, 94, 226, 53, 196),
 (156, 152, 163, 139, 108, 126),
 (157, 199, 204, 167, 62, 123),
 (158, 49, 64, 109, 9, 102),
 (159, 107, 144, 38, 197, 145),
 (160, 90, 96, 116, 28, 176),
 (161, 160, 100, 192, 265, 221),
 (162, 2, 11, 12, 153, 49),
 (163, 149, 162, 97, 72, 256),
 (164, 180, 83, 266, 84, 168),
 (165, 89, 29, 252, 134, 149),
 (166, 69, 68, 57, 236, 202),
 (167, 128, 123, 99, 172, 210),
 (168, 111, 173, 9, 177, 163),
 (169, 192, 176, 231, 91, 64),
 (170, 17, 18, 142, 39, 68),
 (171, 97, 154, 71, 10, 103),
 (172, 174, 151, 205, 13, 265),
 (173, 14, 16, 60, 173, 164),
 (174, 145, 118, 207, 194, 59),
 (175, 100, 37, 259, 50, 131),
 (176, 225, 252, 80, 139, 30),
 (177, 23, 17, 90, 225, 146),
 (178, 52, 95, 31, 46, 185),
 (179, 258, 253, 124, 122, 263),
 (180, 135, 166, 81, 57, 222),
 (181, 165, 209, 30, 237, 65),
 (182, 35, 84, 29, 137, 23),
 (183, 191, 103, 264, 49, 216),
 (184, 171, 109, 246, 168, 138),
 (185, 226, 183, 212, 239, 211),
 (186, 6, 8, 27, 155, 241),
 (187, 195, 175, 213, 128, 156),
 (188, 108, 133, 69, 186, 96),
 (189, 57, 116, 6, 117, 197),
 (190, 250, 213, 227, 227, 251),
 (191, 91, 81, 91, 115, 258),
 (192, 173, 196, 45, 171, 244),
 (193, 19, 20, 54, 219, 189),
 (194, 44, 36, 108, 210, 76),
 (195, 61, 30, 176, 184, 182),
 (196, 78, 169, 40, 8, 10),
 (197, 151, 185, 103, 5, 139),
 (198, 252, 195, 255, 120, 261),
 (199, 51, 149, 1, 41, 203),
 (200, 75, 129, 33, 16, 154),
 (201, 41, 33, 102, 88, 229),
 (202, 228, 251, 74, 55, 178),
 (203, 47, 136, 10, 158, 2),
 (204, 185, 168, 201, 220, 69),
 (205, 37, 101, 3, 196, 113),
 (206, 235, 238, 78, 259, 172),
 (207, 187, 220, 63, 185, 135),
 (208, 92, 147, 49, 56, 74),
 (209, 264, 240, 220, 264, 246),
 (210, 18, 23, 52, 216, 124),
 (211, 188, 190, 159, 78, 151),
 (212, 220, 216, 168, 110, 165),
 (213, 139, 148, 115, 36, 217),
 (214, 218, 215, 105, 94, 267),
 (215, 150, 159, 188, 193, 8),
 (216, 73, 19, 256, 92, 136),
 (217, 116, 92, 158, 123, 234),
 (218, 113, 27, 228, 267, 259),
 (219, 156, 134, 140, 244, 173),
 (220, 237, 172, 263, 217, 70),
 (221, 76, 114, 94, 14, 75),
 (222, 109, 106, 199, 29, 55),
 (223, 62, 44, 118, 246, 120),
 (224, 84, 158, 16, 33, 194),
 (225, 167, 115, 257, 82, 61),
 (226, 229, 229, 173, 198, 60),
 (227, 50, 78, 44, 136, 105),
 (228, 143, 111, 215, 135, 93),
 (229, 161, 132, 155, 156, 253),
 (230, 154, 193, 41, 245, 78),
 (231, 206, 180, 230, 23, 236),
 (232, 102, 66, 236, 7, 159),
 (233, 172, 230, 58, 61, 51),
 (234, 134, 165, 46, 69, 264),
 (235, 203, 187, 202, 214, 52),
 (236, 26, 97, 2, 213, 80),
 (237, 99, 73, 180, 148, 122),
 (238, 95, 105, 84, 133, 174),
 (239, 11, 3, 169, 116, 133),
 (240, 190, 203, 137, 125, 92),
 (241, 125, 130, 75, 224, 191),
 (242, 65, 77, 59, 189, 155),
 (243, 27, 52, 8, 242, 141),
 (244, 162, 161, 121, 195, 193),
 (245, 196, 192, 141, 146, 186),
 (246, 118, 80, 206, 190, 99),
 (247, 3, 6, 37, 145, 177),
 (248, 30, 50, 15, 144, 255),
 (249, 46, 41, 93, 73, 243),
 (250, 144, 82, 261, 2, 162),
 (251, 136, 122, 163, 191, 107),
 (252, 159, 202, 76, 3, 231),
 (253, 48, 24, 244, 95, 18),
 (254, 175, 117, 217, 211, 218),
 (255, 219, 239, 79, 51, 183),
 (256, 263, 263, 194, 97, 127),
 (257, 231, 210, 232, 221, 26),
 (258, 245, 266, 23, 105, 97),
 (259, 74, 38, 200, 130, 204),
 (260, 87, 137, 28, 240, 35),
 (261, 70, 57, 119, 121, 205),
 (262, 32, 61, 26, 229, 43),
 (263, 21, 7, 241, 106, 44),
 (264, 240, 218, 208, 90, 254),
 (265, 239, 260, 65, 20, 245),
 (266, 119, 98, 224, 86, 50),
 (267, 233, 245, 72, 202, 166))

In [16]:
studentMarks(df)

((1, 94.0, 33.33, 'end', 'basic02'),
 (2, 85.0, 3.33, 'basic01', 'quiz02'),
 (3, 90.0, 38.0, 'quiz02', 'end'),
 (4, 93.33, 0.0, 'basic02', 'basic03'),
 (5, 93.33, 6.67, 'basic03', 'basic02'),
 (6, 95.0, 13.33, 'basic02', 'quiz03'),
 (7, 95.0, 0.0, 'basic02', 'mid'),
 (8, 90.0, 0.0, 'quiz02', 'end'),
 (9, 92.0, 3.33, 'end', 'quiz03'),
 (10, 90.0, 0.0, 'basic03', 'basic01'),
 (11, 93.33, 11.43, 'quiz01', 'mid'),
 (12, 73.33, 0.0, 'quiz01', 'basic03'),
 (13, 93.33, 0.0, 'basic04', 'quiz01'),
 (14, 93.33, 0.0, 'basic04', 'basic02'),
 (15, 90.0, 5.0, 'quiz02', 'basic03'),
 (16, 65.0, 0.0, 'basic01', 'basic03'),
 (17, 95.0, 10.0, 'basic02', 'basic03'),
 (18, 93.33, 0.0, 'basic04', 'quiz01'),
 (19, 82.86, 0.0, 'mid', 'basic04'),
 (20, 96.67, 0.0, 'quiz02', 'basic04'),
 (21, 93.33, 0.0, 'basic02', 'basic01'),
 (22, 96.67, 10.0, 'quiz01', 'basic03'),
 (23, 86.67, 10.0, 'basic04', 'quiz02'),
 (24, 93.33, 0.0, 'basic04', 'basic01'),
 (25, 85.0, 6.67, 'basic03', 'basic04'),
 (26, 96.67, 0.0, 'quiz02', 'quiz01'),
 (27, 93.33, 8.57, 'basic03', 'mid'),
 (28, 74.0, 2.86, 'end', 'mid'),
 (29, 90.0, 0.0, 'quiz02', 'quiz03'),
 (30, 93.33, 0.0, 'basic04', 'basic02'),
 (31, 95.0, 6.67, 'basic02', 'quiz02'),
 (32, 93.33, 10.0, 'basic02', 'basic02'),
 (33, 86.67, 0.0, 'basic02', 'basic04'),
 (34, 85.0, 16.0, 'basic02', 'end'),
 (35, 93.33, 0.0, 'quiz01', 'basic01'),
 (36, 90.0, 10.0, 'basic01', 'basic02'),
 (37, 91.43, 0.0, 'mid', 'quiz03'),
 (38, 93.33, 5.0, 'basic02', 'basic03'),
 (39, 98.0, 40.0, 'end', 'basic03'),
 (40, 90.0, 5.71, 'end', 'mid'),
 (41, 83.33, 6.67, 'quiz02', 'quiz01'),
 (42, 92.0, 0.0, 'end', 'basic01'),
 (43, 96.67, 0.0, 'quiz03', 'basic01'),
 (44, 93.33, 10.0, 'basic03', 'basic03'),
 (45, 86.67, 0.0, 'basic03', 'quiz03'),
 (46, 90.0, 0.0, 'quiz03', 'quiz01'),
 (47, 90.0, 0.0, 'basic01', 'quiz03'),
 (48, 80.0, 13.33, 'quiz03', 'basic01'),
 (49, 93.33, 6.67, 'basic02', 'basic04'),
 (50, 90.0, 0.0, 'quiz03', 'basic04'),
 (51, 90.0, 6.67, 'quiz01', 'basic01'),
 (52, 93.33, 15.0, 'quiz03', 'basic02'),
 (53, 90.0, 0.0, 'basic02', 'quiz01'),
 (54, 86.67, 0.0, 'basic04', 'basic03'),
 (55, 93.33, 0.0, 'quiz01', 'basic02'),
 (56, 96.67, 0.0, 'quiz03', 'basic04'),
 (57, 93.33, 0.0, 'basic03', 'basic04'),
 (58, 95.0, 3.33, 'basic01', 'quiz03'),
 (59, 90.0, 5.0, 'basic01', 'basic02'),
 (60, 96.67, 6.67, 'quiz02', 'quiz03'),
 (61, 90.0, 0.0, 'quiz02', 'basic03'),
 (62, 86.67, 12.0, 'quiz03', 'end'),
 (63, 95.0, 16.67, 'basic02', 'quiz01'),
 (64, 93.33, 0.0, 'basic02', 'quiz01'),
 (65, 95.0, 6.67, 'basic01', 'quiz03'),
 (66, 98.0, 10.0, 'end', 'quiz03'),
 (67, 93.33, 2.86, 'basic02', 'mid'),
 (68, 95.0, 13.33, 'basic03', 'quiz03'),
 (69, 93.33, 8.57, 'basic01', 'mid'),
 (70, 95.0, 10.0, 'basic02', 'quiz02'),
 (71, 93.33, 0.0, 'basic03', 'basic03'),
 (72, 95.0, 8.57, 'basic02', 'mid'),
 (73, 93.33, 0.0, 'basic02', 'basic04'),
 (74, 97.14, 0.0, 'mid', 'basic02'),
 (75, 86.67, 8.0, 'basic04', 'end'),
 (76, 94.29, 0.0, 'mid', 'quiz03'),
 (77, 93.33, 0.0, 'quiz02', 'basic01'),
 (78, 90.0, 2.86, 'basic03', 'mid'),
 (79, 94.0, 10.0, 'end', 'basic02'),
 (80, 96.67, 6.67, 'quiz03', 'basic04'),
 (81, 76.67, 0.0, 'quiz03', 'quiz02'),
 (82, 95.0, 6.67, 'basic01', 'quiz01'),
 (83, 96.67, 0.0, 'quiz03', 'basic02'),
 (84, 85.0, 0.0, 'basic02', 'basic03'),
 (85, 88.57, 0.0, 'mid', 'basic01'),
 (86, 93.33, 2.86, 'basic04', 'mid'),
 (87, 93.33, 10.0, 'basic04', 'basic03'),
 (88, 93.33, 0.0, 'basic04', 'quiz03'),
 (89, 86.67, 40.0, 'quiz02', 'basic02'),
 (90, 70.0, 2.86, 'basic03', 'mid'),
 (91, 96.67, 0.0, 'quiz01', 'basic04'),
 (92, 86.67, 0.0, 'basic01', 'quiz03'),
 (93, 90.0, 0.0, 'basic02', 'basic01'),
 (94, 98.0, 5.0, 'end', 'basic03'),
 (95, 80.0, 2.86, 'quiz02', 'mid'),
 (96, 93.33, 30.0, 'basic04', 'basic03'),
 (97, 97.14, 10.0, 'mid', 'quiz01'),
 (98, 93.33, 2.0, 'quiz03', 'end'),
 (99, 84.0, 0.0, 'end', 'basic03'),
 (100, 83.33, 2.86, 'quiz03', 'mid'),
 (101, 91.43, 2.0, 'mid', 'end'),
 (102, 94.29, 10.0, 'mid', 'basic02'),
 (103, 93.33, 0.0, 'quiz03', 'basic03'),
 (104, 98.0, 0.0, 'end', 'quiz02'),
 (105, 95.0, 3.33, 'basic01', 'quiz02'),
 (106, 93.33, 0.0, 'basic02', 'basic01'),
 (107, 94.29, 0.0, 'mid', 'quiz01'),
 (108, 90.0, 10.0, 'basic02', 'quiz02'),
 (109, 94.29, 0.0, 'mid', 'basic02'),
 (110, 72.0, 10.0, 'end', 'quiz02'),
 (111, 90.0, 6.0, 'quiz02', 'end'),
 (112, 93.33, 0.0, 'quiz02', 'basic01'),
 (113, 65.0, 2.86, 'basic01', 'mid'),
 (114, 86.67, 0.0, 'basic02', 'basic01'),
 (115, 90.0, 0.0, 'quiz03', 'basic04'),
 (116, 80.0, 0.0, 'basic01', 'basic03'),
 (117, 91.43, 16.67, 'mid', 'quiz01'),
 (118, 90.0, 0.0, 'basic03', 'quiz02'),
 (119, 96.67, 0.0, 'quiz02', 'basic01'),
 (120, 86.67, 0.0, 'basic02', 'basic01'),
 (121, 93.33, 0.0, 'basic02', 'quiz01'),
 (122, 66.67, 0.0, 'basic03', 'quiz02'),
 (123, 93.33, 2.86, 'quiz02', 'mid'),
 (124, 93.33, 0.0, 'quiz01', 'basic04'),
 (125, 96.67, 0.0, 'quiz03', 'basic01'),
 (126, 86.67, 2.86, 'quiz02', 'mid'),
 (127, 86.67, 33.33, 'basic03', 'quiz02'),
 (128, 86.67, 26.67, 'basic03', 'basic01'),
 (129, 93.33, 6.67, 'quiz02', 'basic02'),
 (130, 86.67, 13.33, 'quiz01', 'basic01'),
 (131, 93.33, 6.67, 'basic03', 'basic04'),
 (132, 92.0, 0.0, 'end', 'quiz02'),
 (133, 95.0, 0.0, 'basic03', 'basic04'),
 (134, 73.33, 0.0, 'basic01', 'basic04'),
 (135, 83.33, 0.0, 'quiz02', 'basic03'),
 (136, 96.67, 2.86, 'quiz03', 'mid'),
 (137, 93.33, 6.67, 'quiz03', 'basic03'),
 (138, 90.0, 0.0, 'quiz01', 'basic02'),
 (139, 90.0, 0.0, 'basic01', 'basic03'),
 (140, 97.14, 0.0, 'mid', 'basic01'),
 (141, 98.0, 0.0, 'end', 'basic02'),
 (142, 93.33, 0.0, 'quiz01', 'mid'),
 (143, 86.67, 0.0, 'basic01', 'basic02'),
 (144, 68.0, 0.0, 'end', 'basic02'),
 (145, 98.0, 3.33, 'end', 'quiz01'),
 (146, 95.0, 13.33, 'basic01', 'basic04'),
 (147, 93.33, 0.0, 'basic03', 'basic01'),
 (148, 93.33, 8.0, 'basic03', 'end'),
 (149, 95.0, 6.67, 'basic02', 'basic03'),
 (150, 96.67, 0.0, 'quiz03', 'basic04'),
 (151, 96.67, 13.33, 'quiz02', 'basic02'),
 (152, 93.33, 0.0, 'basic03', 'quiz03'),
 (153, 90.0, 0.0, 'basic03', 'quiz01'),
 (154, 95.0, 40.0, 'basic01', 'basic03'),
 (155, 80.0, 10.0, 'basic04', 'basic03'),
 (156, 73.33, 13.33, 'quiz03', 'quiz02'),
 (157, 93.33, 6.67, 'basic04', 'basic03'),
 (158, 90.0, 20.0, 'quiz02', 'quiz01'),
 (159, 90.0, 6.67, 'basic02', 'basic04'),
 (160, 93.33, 0.0, 'basic01', 'quiz03'),
 (161, 91.43, 0.0, 'mid', 'quiz01'),
 (162, 97.14, 0.0, 'mid', 'basic03'),
 (163, 95.0, 0.0, 'basic01', 'basic03'),
 (164, 94.29, 0.0, 'mid', 'basic04'),
 (165, 96.0, 5.0, 'end', 'basic02'),
 (166, 95.0, 0.0, 'basic02', 'basic04'),
 (167, 90.0, 0.0, 'basic03', 'basic03'),
 (168, 90.0, 0.0, 'basic03', 'quiz03'),
 (169, 93.33, 3.33, 'quiz01', 'quiz03'),
 (170, 95.0, 20.0, 'basic03', 'basic02'),
 (171, 95.0, 6.67, 'basic02', 'basic04'),
 (172, 80.0, 0.0, 'basic04', 'quiz03'),
 (173, 85.0, 13.33, 'basic03', 'basic04'),
 (174, 73.33, 5.0, 'quiz02', 'basic02'),
 (175, 97.14, 10.0, 'mid', 'basic01'),
 (176, 95.0, 2.86, 'basic02', 'mid'),
 (177, 90.0, 6.67, 'basic03', 'quiz03'),
 (178, 93.33, 13.33, 'basic01', 'quiz01'),
 (179, 80.0, 0.0, 'basic02', 'quiz02'),
 (180, 95.0, 0.0, 'basic01', 'basic01'),
 (181, 96.67, 0.0, 'quiz02', 'quiz03'),
 (182, 93.33, 0.0, 'basic04', 'basic03'),
 (183, 93.33, 0.0, 'basic01', 'basic02'),
 (184, 93.33, 3.33, 'quiz03', 'quiz02'),
 (185, 65.0, 0.0, 'basic03', 'basic04'),
 (186, 96.0, 13.33, 'end', 'quiz03'),
 (187, 90.0, 0.0, 'quiz03', 'quiz01'),
 (188, 83.33, 0.0, 'quiz02', 'quiz01'),
 (189, 95.0, 13.33, 'basic03', 'quiz01'),
 (190, 56.67, 0.0, 'quiz02', 'basic01'),
 (191, 86.67, 6.67, 'basic02', 'basic04'),
 (192, 93.33, 0.0, 'basic01', 'quiz03'),
 (193, 88.57, 0.0, 'mid', 'quiz01'),
 (194, 97.14, 0.0, 'mid', 'basic01'),
 (195, 96.67, 3.33, 'quiz01', 'quiz02'),
 (196, 93.33, 32.0, 'basic01', 'end'),
 (197, 93.33, 0.0, 'basic02', 'quiz01'),
 (198, 86.67, 2.0, 'basic02', 'end'),
 (199, 95.0, 6.67, 'basic02', 'quiz03'),
 (200, 93.33, 0.0, 'basic04', 'quiz01'),
 (201, 91.43, 10.0, 'mid', 'quiz02'),
 (202, 95.0, 0.0, 'basic01', 'quiz01'),
 (203, 96.67, 13.33, 'quiz02', 'basic03'),
 (204, 85.0, 6.67, 'basic03', 'quiz02'),
 (205, 93.33, 3.33, 'basic01', 'quiz01'),
 (206, 95.0, 0.0, 'basic01', 'basic04'),
 (207, 85.0, 6.67, 'basic02', 'basic04'),
 (208, 80.0, 16.0, 'basic03', 'end'),
 (209, 65.0, 0.0, 'basic01', 'basic03'),
 (210, 92.0, 10.0, 'end', 'quiz02'),
 (211, 93.33, 2.0, 'basic01', 'end'),
 (212, 86.67, 0.0, 'basic03', 'basic02'),
 (213, 93.33, 3.33, 'basic04', 'quiz03'),
 (214, 95.0, 0.0, 'basic02', 'basic01'),
 (215, 95.0, 0.0, 'basic03', 'basic02'),
 (216, 97.14, 5.0, 'mid', 'basic01'),
 (217, 80.0, 5.0, 'basic02', 'basic02'),
 (218, 88.57, 0.0, 'mid', 'basic03'),
 (219, 90.0, 0.0, 'end', 'basic04'),
 (220, 83.33, 5.0, 'quiz02', 'basic01'),
 (221, 96.67, 5.0, 'quiz03', 'basic02'),
 (222, 96.67, 0.0, 'quiz03', 'basic03'),
 (223, 83.33, 0.0, 'quiz03', 'basic04'),
 (224, 90.0, 3.33, 'basic01', 'quiz01'),
 (225, 96.67, 0.0, 'quiz02', 'quiz01'),
 (226, 96.67, 0.0, 'quiz02', 'basic01'),
 (227, 95.0, 23.33, 'basic03', 'quiz02'),
 (228, 90.0, 5.0, 'basic01', 'basic03'),
 (229, 80.0, 0.0, 'basic02', 'basic04'),
 (230, 76.67, 0.0, 'quiz03', 'basic03'),
 (231, 86.67, 0.0, 'basic01', 'basic03'),
 (232, 96.0, 0.0, 'end', 'basic02'),
 (233, 95.0, 14.0, 'basic03', 'end'),
 (234, 95.0, 3.33, 'basic02', 'quiz02'),
 (235, 86.67, 0.0, 'basic04', 'basic03'),
 (236, 95.0, 3.33, 'basic03', 'quiz01'),
 (237, 90.0, 0.0, 'basic02', 'basic01'),
 (238, 90.0, 5.0, 'basic02', 'basic01'),
 (239, 97.14, 6.67, 'mid', 'quiz02'),
 (240, 93.33, 5.0, 'basic01', 'basic01'),
 (241, 90.0, 0.0, 'basic01', 'basic02'),
 (242, 76.67, 6.67, 'quiz01', 'quiz02'),
 (243, 95.0, 0.0, 'basic01', 'basic03'),
 (244, 82.86, 0.0, 'mid', 'quiz01'),
 (245, 86.67, 0.0, 'basic01', 'basic03'),
 (246, 86.67, 5.0, 'quiz01', 'basic02'),
 (247, 98.0, 20.0, 'end', 'quiz02'),
 (248, 86.67, 0.0, 'basic03', 'quiz01'),
 (249, 86.67, 3.33, 'basic01', 'quiz02'),
 (250, 93.33, 10.0, 'basic04', 'basic03'),
 (251, 86.67, 5.0, 'quiz03', 'basic02'),
 (252, 93.33, 2.0, 'basic03', 'end'),
 (253, 93.33, 6.67, 'quiz02', 'basic03'),
 (254, 70.0, 0.0, 'basic02', 'basic03'),
 (255, 95.0, 5.0, 'basic01', 'basic02'),
 (256, 83.33, 4.0, 'quiz02', 'end'),
 (257, 96.67, 0.0, 'quiz02', 'basic03'),
 (258, 95.0, 0.0, 'basic03', 'mid'),
 (259, 84.0, 0.0, 'end', 'basic04'),
 (260, 94.29, 0.0, 'mid', 'basic02'),
 (261, 86.67, 0.0, 'basic01', 'basic04'),
 (262, 95.0, 13.33, 'basic02', 'basic04'),
 (263, 98.0, 5.0, 'end', 'basic01'),
 (264, 93.33, 5.0, 'basic02', 'basic01'),
 (265, 95.0, 0.0, 'basic02', 'quiz03'),
 (266, 94.0, 0.0, 'end', 'basic02'),
 (267, 95.0, 0.0, 'basic02', 'basic02'))

In [17]:
ExamDetails(df)

[['mid', '45.97-52.89', 97.14],
 ['end', '44.37-51.36', 98.0],
 ['basic01', '41.03-48.15', 95.0],
 ['basic02', '45.23-52.41', 95.0],
 ['basic03', '44.82-51.92', 95.0],
 ['basic01', '44.19-51.29', 93.33],
 ['basic02', '43.05-49.93', 93.33],
 ['basic03', '43.16-49.87', 93.33],
 ['basic04', '41.07-48.32', 93.33],
 ['quiz01', '40.31-47.45', 96.67],
 ['quiz02', '45.18-52.62', 96.67],
 ['quiz03', '42.73-49.9', 96.67]]